**Q1.You are given the following dataset of monthly salaries (in dollars) of 15 employees:**

[2500, 3000, 3200, 2800, 2700, 2900, 3100, 2600, 2750, 3500, 4000, 3600, 3200, 3300, 3400]

Calculate the mean salary.
Find the median salary.
Determine the mode of the dataset.

**Q2.Using the same dataset from Question 1, calculate the following:**

    Range of the salaries.
    Variance of the salaries.
    Standard deviation of the salaries.
    Explain what these statistics tell you about the distribution of the salaries.

**Q3.Given the dataset of salaries from Question 1:**

    Calculate the first quartile (Q1), second quartile (Q2/median), and third quartile (Q3).
    Compute the Interquartile Range (IQR).
    Perform these task without using any inbuilt function.

**Q4.You are given the following ages (in years) of 20 employees:**

    [23, 26, 31, 35, 37, 42, 28, 33, 29, 34, 38, 40, 32, 30, 36, 27, 45, 39, 41, 43]

Create a grouped frequency table for the data. You can use either inclusive or exclusive method.

**Q5.A survey is conducted to study the heights of a group of students. The data is collected and follows a normal distribution with a mean height of 160 cm and a standard deviation of 8 cm.**

    a) What percentage of students have heights between 152 cm and 168 cm?
    b) If 200 students are surveyed, how many would you expect to have heights above 176 cm?