## Any Doubt ?

ques 5, 16, 18,

In [1]:
num = input("num: ")

num:  6.2345

In [3]:
num.split('.')[-1]

'2345'

In [4]:
1 in [ (12, 1, 2), (5, 6, 7)]

False

In [8]:
season = {
    1: 'winter',
    2: 'winter'
}

In [9]:
season.get(1, 'invalid month')

'winter'

6.Write a Python Program to input 

electricity unit charges and calculate total electricity bill according to 

the given condition: 

 For first 50 units Rs. 0.50/unit 
 
 For next 100 units Rs. 0.75/unit 
 
 For next 100 units Rs. 1.20/unit
 
 For unit above 250 Rs. 1.50/unit 
 
 An additional surcharge of 20% is added to the bill

example:

    total = 350 units 

    50 * 0.5 -> 25

    remaining = 300 units

    100 * 0.75 -> 75

    remaining = 200

        100 * 1.20 -> 120 
    
    remaining 100

        100 * 1.50 --> 150

    total_bill = 25 + 75 + 120 + 150 = 370

    370 * 20 /100->  74

    Final bill = 444 rs

In [15]:
150 // 50

3

In [13]:
75 % 50

25

In [12]:
45 // 50

0

In [11]:
75 // 50

1

In [10]:
units = int(input('enter units: '))
# 25, 75, 200, 350

if units <= 50:
    # 50 unit or less
    bill = units * 0.5
elif units <= 150: 
    # 120 units -> first 50 * 0.5 + remaing * 0.75
    bill = 0.5 * 50 + (units-50)*0.75
elif units <= 250:
    bill = 0.5 * 50 + 100 * 0.75 + (units-150) * 1.20
else:
    bill = 0.5 * 50 + 100 * .75 + 100 * 1.20 + (units-250)*1.50

total_bill = bill + (bill * 20/100)
print(f"You have to pay: {total_bill}")

enter units:  350

You have to pay: 444.0

In [21]:
123 % 10 # %10 last digit

3

In [18]:
12345 / 10

1234.5

In [22]:
12345 // 10 # strip last digit

1234

In [26]:
12345 * 10 + 6

123456

In [24]:
c = 123456
while c: # c = 0
    print(c%10, end="") # 1%10 -> 1
    c //= 10 # 123456 // 1 -> 0 <- c

print(c) 
# ouput = 654321

6543210

In [ ]:
num = 123
temp = num # temp = 123
rev = 0

ld = temp % 10 # 3
rev = rev * 10 + ld # rev = 3
temp = temp // 10 # temp = 12

ld = temp % 10 # 2
rev = rev * 10 + ld # rev = 32
temp = temp // 10 # temp = 1

ld = temp % 10 # 1
rev = rev * 10 + ld # rev = 321
temp = temp // 10 # temp = 0

321

In [27]:
def reverse_num(num):
    temp = num
    rev = 0
    while temp:
        ld = temp % 10
        rev = rev * 10 + ld
        temp = temp // 10
    return rev

In [28]:
n = int(input("enter a int number: "))
nn = reverse_num(n)

print(n, nn)

enter a int number:  12345

12345 54321

In [29]:
c = 1
while c <= 10:
    print(c)
    c += 1

1
2
3
4
5
6
7
8
9
10

In [31]:
counter = 10
while counter > 0:
    print(counter, end=' ')
    counter -= 1

10 9 8 7 6 5 4 3 2 1

In [43]:
data = [
    ["sachin", 50, 70, 60], # idx -> 0 --> max -> 180  # sum = 180
    ["rajat", 80, 76, 80], # idx -> 1  --> max -> 236  # sum = 236
    ["rahul", 90, 45, 60], # idx -> 1, max -> 236  # sum = 195
    ["nidhi", 10, 20, 30], # idx -> 1, max -> 236 # sum = 60
    ["simran", 90, 90, 90] #
]

# print toppers name without using any python built-in functions

Second highest number name

In [44]:
max_ = 0
idx = 0

i = 0
while i < len(data):
    item = data[i]
    sum_ = sum(item[-3:])
    if sum_ > max_:
        max_ = sum_
        idx = i
    i += 1

name = data[idx][0].title()
print(f"{name} has scored highest number {max_}")

Simran has scored highest number 270

In [40]:
max_

236

In [34]:
max_ = 0
idx = 0

item = data[0] # item =  ["sachin", 50, 70, 60]
sum_ = sum(item[-3:]) # 180

if sum_ > max_:
    max_ = sum_ # 180
    idx = 0
    
item = data[१] # item =   ["rajat", 80, 76, 80]
sum_ = sum(item[-3:]) # २३६ 236

if sum_ > max_:
    max_ = sum_ # 236
    idx = 1

['sachin', 50, 70, 60]

### loop 

    repeat statements untill condition is False

        while cond:
            st-1
            st-2

    we can use break statement to stop loop without reaching condition False

In [48]:
# game rock paper scissor

while True:
    print('rock paper scissor')
    ch = input("\ndo you want to continues yes/no: ").strip().lower()
    if ch not in ["yes", "y", "yep", "yo" ]:
        break

rock paper scissor

do you want to continues yes/no:  yes

rock paper scissor

do you want to continues yes/no:  no

In [47]:
print('hello')
break
print('world!')

hello

SyntaxError: 'break' outside loop (1408912557.py, line 2)

In [49]:
while True:
    break 
    print("hello world")

#

In [50]:
c = 1
while c <= 10:
    print(f"Hello world times! {c}")
    c += 1
    break

Hello world times! 1

In [51]:
c = 1
while c <= 10: # 4 <= 10
    print(f"Hello world times! {c}") # hello world times! 4
    c += 1 # c = 5
    if c >= 5: # 5 >= 5
        break
#

Hello world times! 1
Hello world times! 2
Hello world times! 3
Hello world times! 4

c % 2 -> 1 if c is odd else 0 if c is even

In [56]:
c = 1
while c <= 10: # 4
    if c % 2:
        print(f"hello world times! {c}") # 1
    elif c == 5:
        break
    else:
        c += 1
    c += 1 # 6

hello world times! 1

In [57]:
c = 1
while c <= 10: # 4
    if c % 2:
        print(f"hello world times! {c}") # 1
    elif c == 5:
        break

    c += 1 # 6

hello world times! 1
hello world times! 3
hello world times! 5
hello world times! 7
hello world times! 9

# continue

    skip some of portion of loop code and go to next turn use continue

In [60]:
c = 1
while c <= 10:
    c+=2
    print(f"{c} hello world")
    continue
    print(f"{c} hello world")
    c += 1

3 hello world
5 hello world
7 hello world
9 hello world
11 hello world

In [62]:
c = 1 
while c <= 10: # c = 5
    if c%2==0:
        print(f'hello world {c}') # 2, 4
    elif c%5==0:
        break
    else:
        c += 1
        continue
    c += 1

print('next statement')

hello world 2
hello world 4
next statement

In [67]:
# frist 10 nums sum
import time
num = 1
sum_ = 0
st = ""
while num <= 10:
    st += f"{num} + "
    print(f"\r{st}", end="")
    time.sleep(0.1)
    sum_ += num
    num += 1
else:
    print(f"\r{st[:-2]} = {sum_}.")

1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10  = 55.

    while cond:
        st-1
        st-2
        st-3
    else:
        st-4

In [69]:
while False:
    pass

print('i will run after loop')

i will run after loop

In [68]:
while True:
    break
else:
    print("it will run if loop conditon become False")

In [71]:
c = 1 
while c <= 10: # 8
    print(f"hello world! {c}") # 1, 2, 4, 8
    c *= 2 # 16
    if c % 2 == 0:
        continue
    else:
        break
else:
    print("loops are interesting")

hello world! 1
hello world! 2
hello world! 4
hello world! 8
loops are interesting

In [75]:
import random
import time
c = 1
while c <= 20:
    com_guess = random.randint(1, 50)
    print(f"\rcomputer random guess {c:>3} = {com_guess:<5}", end="")
    time.sleep(1)
    c += 1

computer random guess  20 = 30

## Guessing Game

    ask user-1 to select 1 random number between 1-50

    user-2 will get 5 chances to guess the user1's gueesed number 

        give hints after each incorrect guess like your guess is too low or your guess is too big 

    if user-2 able to get correct guess in any 5 chances print congratulations to user-2
    else print you such a looser message for user-2

# nested loop

In [76]:
row = 1
while row <= 10: # row = 3
    col = 0  # col = 0
    while col < row: # row = 3, col = 3
        print("*", end="")
        col += 1
    print()
    row += 1 # row = 3

*
**
***
****
*****
******
*******
********
*********
**********

In [84]:
print("*"*num)

***********

In [92]:
print(*[ ("*"*i).rjust(10) for i in range(11) ], sep='\n')

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [89]:
for i in range(11):
    print(("*"*i).rjust(10))

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [87]:
row = 1
while row <= 10:
    print(("*"*row).rjust(10))
    row += 1

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [85]:
row = 1
while row <= 10:
    print("*"*row)
    row += 1

*
**
***
****
*****
******
*******
********
*********
**********

In [83]:
row = 1
while row <= 10: # row = 3
    col = 10  # col = 0
    while col > row: # row = 3, col = 3
        print(" ", end="")
        col -= 1
    col = 0
    while col < row:
        print("*", end="")
        col += 1
    print()
    row += 1 # row = 3

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

# Functions 

    guess game + assignment