In [12]:
def validate_password(password):
    return True

In [3]:
def is_even(num):
    return num%2==0 # 13 % 2 -> 1

In [4]:
ans = is_even(13)
print(ans)

False

In [5]:
names = [ 'ram', 'shyam', 'hari', 'jhon', 'alice', 'vincent', 'michael']

In [9]:
for i in range(len(names)):
    print(names[i], end="   ")

ram   shyam   hari   jhon   alice   vincent   michael

In [7]:
list(range(len(names)))

[0, 1, 2, 3, 4, 5, 6]

In [11]:
t1 = [ names[i] for i in range(len(names)) if is_even(i) ]
t2 = [ names[i] for i in range(len(names)) if not is_even(i) ]
print(t1)
print(t2)

['ram', 'hari', 'alice', 'michael']
['shyam', 'jhon', 'vincent']

## Tic Tac Toe 

    print board 

    game over 

    main

## Functions 

    a smaller piece of code to execute a specific task 

    to resue the code

    moduler programming - we can break a big into sub problems which can be solved by smaller smaller functions

    easy debugging

In [13]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [19]:
hello('sachin')

TypeError: hello() takes 0 positional arguments but 1 was given

In [14]:
def hello(): # signature
    print("hello world!")

In [15]:
hello()

hello world!

In [17]:
for _ in range(5):
    hello()

hello world!
hello world!
hello world!
hello world!
hello world!

In [18]:
help(hello)

Help on function hello in module __main__:

hello()

#### function 

    1. defination of function 
    2. calling of a function

In [23]:
print(print.__doc__)

Prints the values to a stream, or to sys.stdout by default.

  sep
    string inserted between values, default a space.
  end
    string appended after the last value, default a newline.
  file
    a file-like object (stream); defaults to the current sys.stdout.
  flush
    whether to forcibly flush the stream.

In [24]:
print(hello.__doc__)

        greets with hello world! message

In [21]:
def hello():
    """
        greets with hello world! message
    """
    print("Hello World!")

hello()
help(hello) # __doc__

Hello World!
Help on function hello in module __main__:

hello()
    greets with hello world! message

In [25]:
var = hello() # None

print("hello returns the value ", var)
# Hello World!
# hello returns the value None

Hello World!
hello returns the value  None

syntax:

    def func_name(arg1, arg2, ...):
        """
            doc string
        """
        st-1
        st-2
        ...
        st-n
        return value

In [28]:
def hello():
    """
        returns a greeting message Hello World!
    """
    return "Hello World!"

print(hello())

var = hello()
print(var)

Hello World!
Hello World!

In [27]:
hello()
# "Hello World!"
print('what will be the output')

what will be the output


    arguments / parameters

        formal arguments / formal parameters   ---> at the time defination

        actual arguments / actual parameters   ---> at the time of calling

In [47]:
def hello(name):
    """
        grettes user name with hello message
    """
    print("\n", "_"*100)
    name = name.strip().title()
    temp = "|"+f"Hello {name:>20}, welcome to python functions.".center(98)+"|"
    print(temp)
    print("\n", "_"*100)

In [48]:
hello('sachin yadav') # actual parameters

 ____________________________________________________________________________________________________
|                     Hello         Sachin Yadav, welcome to python functions.                     |

 ____________________________________________________________________________________________________

In [49]:
names

['ram', 'shyam', 'hari', 'jhon', 'alice', 'vincent', 'michael']

In [50]:
for name in names:
    hello(name)

 ____________________________________________________________________________________________________
|                     Hello                  Ram, welcome to python functions.                     |

 ____________________________________________________________________________________________________

 ____________________________________________________________________________________________________
|                     Hello                Shyam, welcome to python functions.                     |

 ____________________________________________________________________________________________________

 ____________________________________________________________________________________________________
|                     Hello                 Hari, welcome to python functions.                     |

 ____________________________________________________________________________________________________

 ____________________________________________________________________________________________________
|                     Hello                 Jhon, welcome to python functions.                     |

 ____________________________________________________________________________________________________

 ____________________________________________________________________________________________________
|                     Hello                Alice, welcome to python functions.                     |

 ____________________________________________________________________________________________________

 ____________________________________________________________________________________________________
|                     Hello              Vincent, welcome to python functions.                     |

 ____________________________________________________________________________________________________

 ____________________________________________________________________________________________________
|                     Hello              Michael, welcome to python functions.                     |

 ____________________________________________________________________________________________________


  --- --- ---
 | x | 0 | X |
  --- --- ---
 | x | 0 | X |
  --- --- ---
 | x | 0 | X |
  --- --- ---

In [58]:
pat = """ --- --- --- 
|{:^3}|{:^3}|{:^3}|
""" * 3

print(pat.format(*(["X", "O", "X"]*3)))

 --- --- ---
| X | O | X |
 --- --- ---
| X | O | X |
 --- --- ---
| X | O | X |

In [54]:
print(pat.format("X", "O", "X"))

 --- --- ---
| X | O | X |

In [64]:
def print_board(values):
    """
        will print a tic tac board by filling values in it

        values contains 9 symbols for 9 positions sequentially
    """
    pat = """
                 --- --- --- 
                |{:^3}|{:^3}|{:^3}|""" * 3
    fill_pat = pat.format(*values)
    print(fill_pat)
    print("                 --- --- --- ")

In [65]:
print_board([1, 2, 3, 4, 5, 6, 7, 8,9 ])

                 --- --- ---
                | 1 | 2 | 3 |
                 --- --- ---
                | 4 | 5 | 6 |
                 --- --- ---
                | 7 | 8 | 9 |
                 --- --- ---

In [66]:
data = [ "X", "0", " ", "X", "0", " ", "X", " ", "X"]

data = [
    ["X", "0", " "],
    ["X", "0", " "],
    ["X", " ", "0"]
]

In [67]:
def print_board(values):
    """
        values nested list where each row contains 3 symbols
    """
    pat = """
                 ___ ___ ___ 
                |{:^3}|{:^3}|{:^3}|
                 --- --- --- 
                |{:^3}|{:^3}|{:^3}|
                 --- --- --- 
                |{:^3}|{:^3}|{:^3}|
                 --- --- --- 
    """
    fill_pat = pat.format(
        values[0][0], values[0][1], values[0][2],
        values[1][0], values[1][1], values[1][2],
        values[2][0], values[2][1], values[2][2],
    )
    print(fill_pat)

In [68]:
print_board(data)

                 ___ ___ ___
                | X | 0 |   |
                 --- --- ---
                | X | 0 |   |
                 --- --- ---
                | X |   | 0 |
                 --- --- ---

In [69]:
data = [
    ["X", "0", "X"],
    ["X", "0", " "],
    [" ", " ", "0"]
]

In [70]:
print_board(data)

                 ___ ___ ___
                | X | 0 | X |
                 --- --- ---
                | X | 0 |   |
                 --- --- ---
                |   |   | 0 |
                 --- --- ---

In [71]:
data = [
    [" ", "0", "X"],
    ["X", " ", " "],
    [" ", "X", "0"]
]
print_board(data)

                 ___ ___ ___
                |   | 0 | X |
                 --- --- ---
                | X |   |   |
                 --- --- ---
                |   | X | 0 |
                 --- --- ---

#### we define 4 type of function 

    1. with no arguments with not return type 
    2. with no arguments with return type
    3. with arguments without return type
    4. with argumetns with return type

In [76]:
type(1.2) is int

False

In [88]:
num = 127
for val in range(2, num):
    print(f"{num} % {val} = {num%val}")

127 % 2 = 1
127 % 3 = 1
127 % 4 = 3
127 % 5 = 2
127 % 6 = 1
127 % 7 = 1
127 % 8 = 7
127 % 9 = 1
127 % 10 = 7
127 % 11 = 6
127 % 12 = 7
127 % 13 = 10
127 % 14 = 1
127 % 15 = 7
127 % 16 = 15
127 % 17 = 8
127 % 18 = 1
127 % 19 = 13
127 % 20 = 7
127 % 21 = 1
127 % 22 = 17
127 % 23 = 12
127 % 24 = 7
127 % 25 = 2
127 % 26 = 23
127 % 27 = 19
127 % 28 = 15
127 % 29 = 11
127 % 30 = 7
127 % 31 = 3
127 % 32 = 31
127 % 33 = 28
127 % 34 = 25
127 % 35 = 22
127 % 36 = 19
127 % 37 = 16
127 % 38 = 13
127 % 39 = 10
127 % 40 = 7
127 % 41 = 4
127 % 42 = 1
127 % 43 = 41
127 % 44 = 39
127 % 45 = 37
127 % 46 = 35
127 % 47 = 33
127 % 48 = 31
127 % 49 = 29
127 % 50 = 27
127 % 51 = 25
127 % 52 = 23
127 % 53 = 21
127 % 54 = 19
127 % 55 = 17
127 % 56 = 15
127 % 57 = 13
127 % 58 = 11
127 % 59 = 9
127 % 60 = 7
127 % 61 = 5
127 % 62 = 3
127 % 63 = 1
127 % 64 = 63
127 % 65 = 62
127 % 66 = 61
127 % 67 = 60
127 % 68 = 59
127 % 69 = 58
127 % 70 = 57
127 % 71 = 56
127 % 72 = 55
127 % 73 = 54
127 % 74 = 53
127 % 75 = 52
127 % 76 = 51
127 % 77 = 50
127 % 78 = 49
127 % 79 = 48
127 % 80 = 47
127 % 81 = 46
127 % 82 = 45
127 % 83 = 44
127 % 84 = 43
127 % 85 = 42
127 % 86 = 41
127 % 87 = 40
127 % 88 = 39
127 % 89 = 38
127 % 90 = 37
127 % 91 = 36
127 % 92 = 35
127 % 93 = 34
127 % 94 = 33
127 % 95 = 32
127 % 96 = 31
127 % 97 = 30
127 % 98 = 29
127 % 99 = 28
127 % 100 = 27
127 % 101 = 26
127 % 102 = 25
127 % 103 = 24
127 % 104 = 23
127 % 105 = 22
127 % 106 = 21
127 % 107 = 20
127 % 108 = 19
127 % 109 = 18
127 % 110 = 17
127 % 111 = 16
127 % 112 = 15
127 % 113 = 14
127 % 114 = 13
127 % 115 = 12
127 % 116 = 11
127 % 117 = 10
127 % 118 = 9
127 % 119 = 8
127 % 120 = 7
127 % 121 = 6
127 % 122 = 5
127 % 123 = 4
127 % 124 = 3
127 % 125 = 2
127 % 126 = 1

In [103]:
def is_prime(num):
    """
        return True if num is prime else return False
    """
    if not (num > 1 and type(num) is int):
        return False
    
    if num % 2 == 0:
        return False
    
    if num in [2, 3, 5, 7, 11]:
        return True
 
    for val in range(2, num//2):
        if num % val == 0:
            return False
    
    return True

In [104]:
is_prime(9)

False

write a function to return square sum of given numbers

In [107]:
def square_sum(nums):
    """
        function which returns square sum of all given numbers in list nums
    """
    result = 0
    for value in nums:
        result += value ** 2
    # your code goes here
    return result
nums = [ 1, 2, 3, 4, 5, 6, 7]
s = square_sum(nums)
print(s) # 55

140

In [109]:
def square_sum(nums):
    """
        function which returns square sum of all given numbers in list nums
    """
    return sum([var**2 for var in nums])
nums = [ 1, 2, 3, 4, 5]
s = square_sum(nums)
print(s) # 55

55

In [110]:
def func(arg1, arg2):
    print(f"arg1 = {arg1}")
    print(f"arg2 = {arg2}")
    return arg1 + arg2

In [111]:
s = func(10, 20)

arg1 = 10
arg2 = 20

In [112]:
print(s)

30

## type of arguments in python functions 

    1. positional arguments
    2. default arguments / keyword arguments
    3. variable length arguments
    4. variable length keyword arguments

# Positional Arguments 

     Compulsory Arguments

In [113]:
# positional
def hello(name):
    print("hello my name is", name)

In [118]:
hello("sachin yadav") # positional calling

hello my name is sachin yadav

In [117]:
hello(name="sachin yadav") # keyword calling

hello my name is sachin yadav

In [119]:
hello(username='sachin yadav')

TypeError: hello() got an unexpected keyword argument 'username'

In [116]:
hello('hi', 'bye')

TypeError: hello() takes 1 positional argument but 2 were given

In [115]:
hello('sachin')

hello my name is sachin

In [114]:
hello()

TypeError: hello() missing 1 required positional argument: 'name'

In [130]:
names = ["A", "B", "C", "D"]
maths = [70, 80, 90, 78]
phys =  [78, 89, 90, 40]
chem =  [78, 87, 67, 89]

In [152]:
for n, m, p, c in zip(names, maths, phys, chem):
    per = (p+c+m)/3
    temp = "|{:^30}|{:^5}|{:^5}|{:^5}|{:^10.3f}|"
    w = 61
    print("_"*w)
    print(temp.format(n, m, p, c, per))
print("_"*w)

_____________________________________________________________
|              A               | 70  | 78  | 78  |  75.333  |
_____________________________________________________________
|              B               | 80  | 89  | 87  |  85.333  |
_____________________________________________________________
|              C               | 90  | 90  | 67  |  82.333  |
_____________________________________________________________
|              D               | 78  | 40  | 89  |  69.000  |
_____________________________________________________________

In [147]:
a = ('one', 'two', 'three', 'four')
b = (1, 2, 3, 4, 5)
c = ('ek', 'do', 'teen', 'chaar')

for e, n, h in zip(a, b, c):
    print(f"{n:>5} {e:<5} {h:<5}")

    1 one   ek
    2 two   do
    3 three teen
    4 four  chaar

In [145]:
 list( zip(a, b, c))

[('one', 1, 'ek'),
 ('two', 2, 'do'),
 ('three', 3, 'teen'),
 ('four', 4, 'chaar')]

In [138]:
for i in range(len(names)):
    n, m, p, c =  names[i], maths[i], phys[i], chem[i]
    pr = ((m+p+c)/3)
    print(f"{n} get {pr:.2f}%")

A get 75.33%
B get 85.33%
C get 82.33%
D get 69.00%

In [128]:
def biggest(a, b, c):
    """
        returns biggest among a, b, c
    """
    print(*["=".join(val) for val in zip("abc", map(str,(a,b,c)))], sep="\n")
    big = a
    if a > b and a > c:
        big = a
    elif b > c:
        big = b
    else:
        big = c
    return big

In [127]:
val = biggest(10, 20, 15)

a=10
b=20
c=15

In [ ]:
print(val)