## Functions 

    type of arguments

    scope

    recursion 
    
    generator

    closure and decorts

    function ia a package of code invoke by name

In [1]:
def func(arg1, arg2):
    print('arg1 ', arg1)
    print('arg2 ', arg2)
    return arg1 + arg2

In [2]:
value = func("hello", "world")
# arg1  hello
# arg2  world

arg1  hello
arg2  world

In [3]:
print(value)

helloworld

### Type of arguments in function

    1. Positional Arguments  - def func(arg1, arg2, ...): pass
    2. Keyword Arguments / Default Arguments - def func(arg1=10): pass 
    3. Variable length positional arguments - def func(*args): pass
    4. Variable length keyword arguments - def func(**kwargs): pass

In [4]:
def func(arg1, arg2):
    pass

In [5]:
func(1, 2) # -> func(arg1=1, arg=2)

In [8]:
func(1, 2, 3)

TypeError: func() takes 2 positional arguments but 3 were given

In [11]:
#        0, 1, 2
def func(a, b, c):
    print(f"value of a = {a}")
    print(f"value of b = {b}")
    print(f"value of c = {c}")

In [12]:
#     0, 1, 2
func(1, 2, 3)

value of a = 1
value of b = 2
value of c = 3

In [13]:
func(1, 2, c=3) #

value of a = 1
value of b = 2
value of c = 3

In [15]:
func(1, 3, b=2) # ?

TypeError: func() got multiple values for argument 'b'

In [14]:
#    0, ?, ???  syntax keyword arugment should not follow positional argument
func(1, c=3, 5)

SyntaxError: positional argument follows keyword argument (47005182.py, line 2)

## keyword arugments

    Default Arguments

In [27]:
def square_sum(nums, sum_=0):
    for value in nums:
        sum_ += value**2
    return sum_

In [28]:
n1 = [1, 2, 3, 4]
n2 = [5, 6, 7, 8]

In [29]:
r1 = square_sum(n1)
print(r1)

30

In [30]:
r2 = square_sum(n2, sum_=r1)
print(r2)

204

In [31]:
print(square_sum(range(1, 9)))

204

In [18]:
def func(x, y=10):
    """
        x positional argument which will be required at the calling of function
        y default keyword argument which is optional to pass at the calling of function
    """
    print('value of x : ', x)
    print('value of y : ', y)
    return x + y

In [23]:
res = func(y=20, x=30)
print(res)

value of x :  30
value of y :  20
50

In [22]:
res = func(10, y=20)
print(res)

value of x :  10
value of y :  20
30

In [20]:
#     func(x, y=10)
res = func(5, 25)
print('result : ', res)

value of x :  5
value of y :  25
result :  30

In [19]:
#     func(x, y=10)
res = func(10)
print('result : ', res)

value of x :  10
value of y :  10
result :  20

### Variable Lenth positional arguments

In [32]:
def add(x, y):
    return x + y

In [34]:
add(1, 2, 3, 4, 5, 6) # ?

TypeError: add() takes 2 positional arguments but 6 were given

In [35]:
1, 2, 3

(1, 2, 3)

In [38]:
def add(*args):
    """
        *args : it accepts multiple values comma seprated and store them as a tuple in variable args

        *args packs multiple positional arguments given to a function into a tuple named as args
    """
    print(args, type(args))

In [46]:
add(1, 2, 3, 4)

(1, 2, 3, 4) <class 'tuple'>

In [47]:
add(args=(1, 2, 3, 4))

TypeError: add() got an unexpected keyword argument 'args'

In [48]:
add(1, 2, 3, a=10)

TypeError: add() got an unexpected keyword argument 'a'

In [49]:
add('hello', 'hi', 1, 2, 3)

('hello', 'hi', 1, 2, 3) <class 'tuple'>

In [50]:
add(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10) <class 'tuple'>

In [41]:
add(1, 2, 3)

(1, 2, 3) <class 'tuple'>

In [40]:
add(1)

(1,) <class 'tuple'>

In [39]:
add() # nothing ?

() <class 'tuple'>

In [51]:
def add(*vals):
    # vals = (arg1, arg2, ....)
    return sum(vals)

In [52]:
add(1, 2)

3

In [53]:
add()

0

In [54]:
add(1)

1

In [55]:
add(1, 2)

3

In [56]:
add(1, 2, 3, 4)

10

In [59]:
add(*[1, 2, 3, 4])

# function calling print(*values) - we are unpacking values
# function defination def add(*values) - we are packing values into a tuple

10

In [58]:
add([1, 2, 3, 4]) # vals=( [1, 2, 3, 4], )

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [62]:
def sq_sum(*args, sum_=0):
    """
        return square sum of all values in args tuple
    """
    for val in args:
        sum_ += val**2
    return sum_

In [63]:
res = sq_sum(1, 2, 3, 4, 5)

print(res) # 55

55

In [64]:
res = sq_sum(*[6, 7, 8, 9, 10], sum_=res)

In [65]:
print(res)

385

In [66]:
res = sq_sum(*range(1, 10), sum_=100)
# res = sq_sum(1, 2, 3, 4, 5, 6, 7, 8, 9, sum_=100)
print(res)

385

In [69]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [67]:
import sys

In [68]:
sys.stdout.write("hello world! ")
sys.stdout.write("this function is used to print on defalut stadard output")

hello world! this function is used to print on defalut stadard output

56

In [70]:
def myprint(*objs, sep=" ", end="\n"):
    # objs = (list, int, float, dict, ... )
    objs = [ str(obj) for obj in objs ] # [ obj.__str__() for obj in objs ]
    res = sep.join(objs) + end
    sys.stdout.write(res)

In [71]:
print('hello', 'hi', 'bye')
myprint('hello', 'hi', 'bye')

hello hi bye
hello hi bye

In [72]:
print(*[1, ['hi', 'bye'], 2, 3], sep='\n')

1
['hi', 'bye']
2
3

In [73]:
myprint(*[1, ['hi', 'bye'], 2, 3], sep='\n')

1
['hi', 'bye']
2
3

In [74]:
" ".join(['hello', 'hi'])

'hello hi'

In [75]:
"-".join('abcd')

'a-b-c-d'

In [76]:
def myprint(*objs, sep=" ", end="\n"):
    # objs = ('hello', 'hi', 'bye', 1, 2, 3), sep='\t', end='\n'
    objs = [ str(obj) for obj in objs ]
    # objs = [ 'hello', 'hi', 'bye', '1', '2', '3' ]
    res = sep.join(objs) + end
    # res = '\t'.join(['hello', 'hi', 'bye', '1', '2', '3' ]) + '\n'
    # res = "hello\thi\tbye\t1\t2\t3\n"
    sys.stdout.write(res)

print('hello', 'hi', 'bye', 1, 2, 3, sep='\t')

hello	hi	bye	1	2	3

## variable length keyword arguments

In [78]:
def func(**kwargs):
    """
        **kwargs become a dictionary which will combine keyword arguments
    """
    print(kwargs, type(kwargs))

In [82]:
func(name='sachin', age=29, country='india')

{'name': 'sachin', 'age': 29, 'country': 'india'} <class 'dict'>

In [81]:
func(x=10, y=20)

{'x': 10, 'y': 20} <class 'dict'>

In [79]:
func()

{} <class 'dict'>

In [80]:
func(1, 2, 3)

TypeError: func() takes 0 positional arguments but 3 were given

In [88]:
def func(pos, *args, sep='\t', **kwargs):
    print("positional: ", pos)
    print("args : ", args)
    print("default sep : ", repr(sep))
    print("kwargs: ", kwargs)

In [92]:
func(1, 2, 3, 4, sep=" ", x=10, y=20)

positional:  1
args :  (2, 3, 4)
default sep :  ' '
kwargs:  {'x': 10, 'y': 20}

In [91]:
func(1, 2, 3, 4, 5, sep="\n")

positional:  1
args :  (2, 3, 4, 5)
default sep :  '\n'
kwargs:  {}

In [90]:
func(10, 20, 30, 40)

positional:  10
args :  (20, 30, 40)
default sep :  '\t'
kwargs:  {}

In [93]:
func(10)

positional:  10
args :  ()
default sep :  '\t'
kwargs:  {}

## Scope 

    visiblility

    GRRAS 

        5 - Labs 5 - class

            single class --> Scope

                variable 
                    trainer - sachin
                    students - a, b, c, d, ...

In [94]:
x = 10

def func(x):
    x += 20
    print('inner value of x is ', x)

In [95]:
print('before calling x is ', x) # ? 
func(x)  # ? inner
print('after calling x is ', x) # ?

before calling x is  10
inner value of x is  30
after calling x is  10

    each value of varaibles depends on it's scope

In [96]:
x = [1 ,2, ]
y = [1, 2]

    main() <- entry point of your code

In [97]:
__name__ # scope name

'__main__'

    Scope 

        main scope / global scope?

        function scope 

        object scope 

        class scope

In [100]:
map

map

In [103]:
def func():
    # every function has it's own scope
    xyz = 'inside function scope'
    print(xyz)

In [104]:
func()

inside function scope

In [105]:
print(xyz) # global

NameError: name 'xyz' is not defined

In [101]:
for jadu in range(1, 6):
    print(jadu**2)

1
4
9
16
25

In [102]:
print(jadu) # Name Error

5

In [ ]:
for var in range(10):
    # x = 10  inside scode of for
    x = 10

In [ ]:
x = 10 # global variable

Built-in (Python) (print, input, map, ... ?)

    Global (Module/Main)

            Enclosing function locals

                Local (function)

call by value <- function scope

call by refrence <- global scope

In [106]:
x = 10 # global varible

def func(x):
    # x is local to function
    x += 10 # changing local argument
    print(x) # local 

func(x)

20

In [107]:
print(x)

10

In [110]:
x, y = 10, 20 # global variables


def func():
    x = 100 # local function variables 
    y = 200
    print('x: ', x)
    print('y: ', y)

In [111]:
func()

x:  100
y:  200

In [112]:
print(x, y)

10 20

In [113]:
name

NameError: name 'name' is not defined

In [114]:
def func():
    name = 'hello'

In [115]:
func()

In [116]:
name

NameError: name 'name' is not defined

    global variable

    local variable

In [8]:
print(name) # local == global

sachin

In [7]:
x = 10

def func(x):
    # x = 10
    x += 10
    # x = 20 # local scope
    print('inner x is ', x) # 20

func(x) # func(10) # global 
print('outer ', x) # 10

inner x is  20
outer  10

In [5]:
name = 'sachin'

In [9]:
def hello():
    print("Hello World! My name is ", name)
    # name -> resolution 
    # first we look into local scope (current scope known as local scope)
    # second we look into higher scope (non local, global)

In [11]:
hello() # global  --> hello (local scope)
# Error! Name error name not defined
# Hello World! My name is sachin

Hello World! My name is  sachin

### Scoping 

    we can access outer scope data inside inner scope 

        global variables can be accessed inside local scope but can not be changed inside local scope

In [14]:
def hello():
    x += 20 # local x = x + 20
    # do we have local x variable ? no
    # x + 20 I have to use global x, x = 30 ? 
    print('inner value of x is ', x)

In [15]:
x = 10
print('before calling x is : ', x) # global

hello() # local 

print('after calling x is : ', x) # global

before calling x is :  10

UnboundLocalError: cannot access local variable 'x' where it is not associated with a value

In [16]:
x = 10

In [18]:
def change():
    global x
    x += 20
    print('inner x ', x)

In [19]:
x = 30
print('before global x', x)
change()
print('after global x', x)

before global x 30
inner x  50
after global x 50

In [22]:
#globals()  #-> dictionary which stores all glboal varaibles

In [24]:
#locals() # -> dictionary which store all local variables

In [25]:
globals() == locals()

True

In [27]:
def func():
    res = globals() == locals()
    print(res)

In [28]:
func()

False

    how to change global variable inside local scope without using global statement

In [30]:
def func1():
    def func2():
        def func3():
            def func4():
                pass

In [29]:
def outer(x):
    def inner(x):
        x += 20
        print('inner x is ', x)
    inner(x)
    print('outer x is ', x)

In [32]:
x = 100
print('before', x) # global
outer(x+10)
print('after', x) # global

before 100
inner x is  130
outer x is  110
after 100

### Recursion
### Decorators /Closure
### Generators 
### OOPs