In [40]:
class A:
    __count = 0
    info = "This is a Class variable shared accross all objects"
    def __init__(self, name):
        A.__count += 1
        self.name = name
    def instance_method(self):
        print("this is a instance can be called using instance of class A")
        print("Name =", self.name) # self -> {'name': 'sachin yadav' }
        print("info = ", self.info) # ? cls.info -> A.info
        self.info = "new info" # object attribute 
        # {'name': 'sachin yadav', 'info': 'new info' }
    @classmethod
    def class_method(cls):
        print("this is a class method, can be called using object or class")
        print(f"info = {cls.info}")
    @classmethod
    def update_info(cls, new_info):
        cls.info = new_info
    @staticmethod
    def author():
        print("it does not have access to class or object attributes")
        print("This class is written by Sachin Yadav")
    @classmethod
    def no_of_objects(cls):
        return cls.__count
    @classmethod
    def get_info(cls):
        return cls.info

In [41]:
A.author()

it does not have access to class or object attributes
This class is written by Sachin Yadav

In [42]:
A.no_of_objects()

0

In [43]:
A.instance_method()

TypeError: A.instance_method() missing 1 required positional argument: 'self'

In [44]:
x = A('sachin yadav')
y = A('rajat goyal')

In [45]:
A.no_of_objects()

2

In [46]:
x.no_of_objects()

2

In [47]:
x.instance_method()

this is a instance can be called using instance of class A
Name = sachin yadav
info =  This is a Class variable shared accross all objects

In [48]:
x.instance_method()

this is a instance can be called using instance of class A
Name = sachin yadav
info =  new info

In [49]:
y.instance_method()

this is a instance can be called using instance of class A
Name = rajat goyal
info =  This is a Class variable shared accross all objects

In [50]:
z = A('rahul')

In [51]:
x.no_of_objects()

3

In [52]:
x.instance_method()

this is a instance can be called using instance of class A
Name = sachin yadav
info =  new info

In [53]:
A.info

'This is a Class variable shared accross all objects'

In [54]:
x.info

'new info'

In [55]:
A.author()

it does not have access to class or object attributes
This class is written by Sachin Yadav

In [56]:
x.author()

it does not have access to class or object attributes
This class is written by Sachin Yadav

In [57]:
A.info

'This is a Class variable shared accross all objects'

In [58]:
A.update_info("can we go next topic")

In [60]:
x.get_info()

'can we go next topic'

In [61]:
y.get_info()

'can we go next topic'

In [62]:
z.get_info()

'can we go next topic'

### File Handling

    what is file handing and why we use ?

    Text File --> Encoding (UTF-8, ascii, ....) Human readable files 

    Binary Files --> Bytes --> special encoding

    Files --> persistenc collection of data

    file_obj = open("file path", "mode")

    file_obj.read(5)

    file_obj.write('information as string')

    file_obj.flush() # enforce file obj to write data into HDD from RAM

    file_obj.close()  # flush and close file

    Data Types ---> RAM 

            Buffer --> 2 MB
            
    content write file --> RAM --> Flush ---> HDD/SDD

File Path

    Absolute Path          and            Relative Path

    root directory                         PWD

        C:\, D:\, E:\                      Desktop/class_code

     # path ->  C:\\users\\sachin\\Desktop\\classcode\\filehandling\\info.txt  (absolute path)
     # pwd  ->  C:\\users\\sachin\\Desktop\\classcode
     # path ->   filehandling\\info.txt      (relative path)

     # /users/sachin/Desktop/classcode/filehandling/info.txt - absolute
     # filehandling/info.txt

In [63]:
fp = open('/abcd/def/jadu.txt')

FileNotFoundError: [Errno 2] No such file or directory: '/abcd/def/jadu.txt'

In [69]:
from pathlib import Path

In [70]:
file = Path("/abcd/def/jadu.txt")

In [71]:
file.is_file()

False

In [73]:
file.exists()

False

In [74]:
file.is_dir()

False

In [76]:
file.parent

PosixPath('/abcd/def')

# Path

    Workdir 


    BankApplication
        README.md - project document
        requirements.txt - dependencies (third party library)

        templates
            *.html
        static
            css
                *.css
            js
                *js
        app.py
        config.yml
        logs
            access_log.txt
            security_logs.txt
            performace_logs.txt   profiling

    filepath --> make sure path is valid and exists

    mode

        read

        write

In [77]:
help(open)

Help on function open in module _io:

open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)
    Open file and return a stream.  Raise OSError upon failure.

    file is either a text or byte string giving the name (and the path
    if the file isn't in the current working directory) of the file to
    be opened or an integer file descriptor of the file to be
    wrapped. (If a file descriptor is given, it is closed when the
    returned I/O object is closed, unless closefd is set to False.)

    mode is an optional string that specifies the mode in which the file
    is opened. It defaults to 'r' which means open for reading in text
    mode.  Other common values are 'w' for writing (truncating the file if
    it already exists), 'x' for creating and writing to a new file, and
    'a' for appending (which on some Unix systems, means that all writes
    append to the end of the file regardless of the current seek position).
    In text mode, if encoding is not specified the encoding used is platform
    dependent: locale.getencoding() is called to get the current locale encoding.
    (For reading and writing raw bytes use binary mode and leave encoding
    unspecified.) The available modes are:

    ========= ===============================================================
    Character Meaning
    --------- ---------------------------------------------------------------
    'r'       open for reading (default)
    'w'       open for writing, truncating the file first
    'x'       create a new file and open it for writing
    'a'       open for writing, appending to the end of the file if it exists
    'b'       binary mode
    't'       text mode (default)
    '+'       open a disk file for updating (reading and writing)
    ========= ===============================================================

    The default mode is 'rt' (open for reading text). For binary random
    access, the mode 'w+b' opens and truncates the file to 0 bytes, while
    'r+b' opens the file without truncation. The 'x' mode implies 'w' and
    raises an `FileExistsError` if the file already exists.

    Python distinguishes between files opened in binary and text modes,
    even when the underlying operating system doesn't. Files opened in
    binary mode (appending 'b' to the mode argument) return contents as
    bytes objects without any decoding. In text mode (the default, or when
    't' is appended to the mode argument), the contents of the file are
    returned as strings, the bytes having been first decoded using a
    platform-dependent encoding or using the specified encoding if given.

    buffering is an optional integer used to set the buffering policy.
    Pass 0 to switch buffering off (only allowed in binary mode), 1 to select
    line buffering (only usable in text mode), and an integer > 1 to indicate
    the size of a fixed-size chunk buffer.  When no buffering argument is
    given, the default buffering policy works as follows:

    * Binary files are buffered in fixed-size chunks; the size of the buffer
      is chosen using a heuristic trying to determine the underlying device's
      "block size" and falling back on `io.DEFAULT_BUFFER_SIZE`.
      On many systems, the buffer will typically be 4096 or 8192 bytes long.

    * "Interactive" text files (files for which isatty() returns True)
      use line buffering.  Other text files use the policy described above
      for binary files.

    encoding is the name of the encoding used to decode or encode the
    file. This should only be used in text mode. The default encoding is
    platform dependent, but any encoding supported by Python can be
    passed.  See the codecs module for the list of supported encodings.

    errors is an optional string that specifies how encoding errors are to
    be handled---this argument should not be used in binary mode. Pass
    'strict' to raise a ValueError exception if there is an encoding error
    (the default of None has the same effect), or pass 'ignore' to ignore
    errors. (Note that ignoring encoding errors can lead to data loss.)
    See the documentation for codecs.register or run 'help(codecs.Codec)'
    for a list of the permitted encoding error strings.

    newline controls how universal newlines works (it only applies to text
    mode). It can be None, '', '\n', '\r', and '\r\n'.  It works as
    follows:

    * On input, if newline is None, universal newlines mode is
      enabled. Lines in the input can end in '\n', '\r', or '\r\n', and
      these are translated into '\n' before being returned to the
      caller. If it is '', universal newline mode is enabled, but line
      endings are returned to the caller untranslated. If it has any of
      the other legal values, input lines are only terminated by the given
      string, and the line ending is returned to the caller untranslated.

    * On output, if newline is None, any '\n' characters written are
      translated to the system default line separator, os.linesep. If
      newline is '' or '\n', no translation takes place. If newline is any
      of the other legal values, any '\n' characters written are translated
      to the given string.

    If closefd is False, the underlying file descriptor will be kept open
    when the file is closed. This does not work when a file name is given
    and must be True in that case.

    A custom opener can be used by passing a callable as *opener*. The
    underlying file descriptor for the file object is then obtained by
    calling *opener* with (*file*, *flags*). *opener* must return an open
    file descriptor (passing os.open as *opener* results in functionality
    similar to passing None).

    open() returns a file object whose type depends on the mode, and
    through which the standard file operations such as reading and writing
    are performed. When open() is used to open a file in a text mode ('w',
    'r', 'wt', 'rt', etc.), it returns a TextIOWrapper. When used to open
    a file in a binary mode, the returned class varies: in read binary
    mode, it returns a BufferedReader; in write binary and append binary
    modes, it returns a BufferedWriter, and in read/write mode, it returns
    a BufferedRandom.

    It is also possible to use a string or bytearray as a file for both
    reading and writing. For strings StringIO can be used like a file
    opened in a text mode, and for bytes a BytesIO can be used like a file
    opened in a binary mode.

In [78]:
%%writefile hello.txt
Hello World! this is a sample file
this is second line
let's learn file handling in python

Overwriting hello.txt

In [80]:
!cat hello.txt
# type hello.txt if cat does not work

Hello World! this is a sample file
this is second line
let's learn file handling in python

In [81]:
!head -n 2 hello.txt

Hello World! this is a sample file
this is second line

In [82]:
!tail -n 1 hello.txt

let's learn file handling in python

In [83]:
fp = open('hello.txt') # mode = 'r'

first_line = fp.readline() 
print(first_line)

Hello World! this is a sample file

In [84]:
second_line = fp.readline()
print(second_line)

this is second line

In [85]:
third_line = fp.readline()
print(third_line)

let's learn file handling in python

In [86]:
fp.readline()

''

In [87]:
fp.tell()

91

In [88]:
fp.seek(fp.tell()-18)

73

In [89]:
fp.tell()

73

In [90]:
fp.readline()

'andling in python\n'

In [91]:
fp.seek(0)

0

In [92]:
lines = fp.readlines()

In [93]:
fp.tell()

91

In [94]:
lines

['Hello World! this is a sample file\n',
 'this is second line\n',
 "let's learn file handling in python\n"]

In [95]:
fp.readlines()

[]

In [96]:
fp.seek(0)

0

In [97]:
for line in fp.readlines():
    print(line)

Hello World! this is a sample file

this is second line

let's learn file handling in python

In [98]:
fp.seek(0)

0

In [99]:
for line in fp:
    print(repr(line))

'Hello World! this is a sample file\n'
'this is second line\n'
"let's learn file handling in python\n"

In [100]:
fp.close()

    'r' --> 'rt'
    
    'w' --> 'wt'
    
    'x' --> 'xt'

    'rw' --> 'rwt'

    'rwb' 

    'r+' --> read or write 

    'w+' --> write or read

Help on function open in module _io:

open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)
    Open file and return a stream.  Raise OSError upon failure.

    file is either a text or byte string giving the name (and the path
    if the file isn't in the current working directory) of the file to
    be opened or an integer file descriptor of the file to be
    wrapped. (If a file descriptor is given, it is closed when the
    returned I/O object is closed, unless closefd is set to False.)

    mode is an optional string that specifies the mode in which the file
    is opened. It defaults to 'r' which means open for reading in text
    mode.  Other common values are 'w' for writing (truncating the file if
    it already exists), 'x' for creating and writing to a new file, and
    'a' for appending (which on some Unix systems, means that all writes
    append to the end of the file regardless of the current seek position).
    In text mode, if encoding is not specified the encoding used is platform
    dependent: locale.getencoding() is called to get the current locale encoding.
    (For reading and writing raw bytes use binary mode and leave encoding
    unspecified.) The available modes are:

    ========= ===============================================================
    Character Meaning
    --------- ---------------------------------------------------------------
    'r'       open for reading (default)
    'w'       open for writing, truncating the file first
    'x'       create a new file and open it for writing
    'a'       open for writing, appending to the end of the file if it exists
    'b'       binary mode
    't'       text mode (default)
    '+'       open a disk file for updating (reading and writing)
    ========= ===============================================================

    The default mode is 'rt' (open for reading text). For binary random
    access, the mode 'w+b' opens and truncates the file to 0 bytes, while
    'r+b' opens the file without truncation. The 'x' mode implies 'w' and
    raises an `FileExistsError` if the file already exists.

    Python distinguishes between files opened in binary and text modes,
    even when the underlying operating system doesn't. Files opened in
    binary mode (appending 'b' to the mode argument) return contents as
    bytes objects without any decoding. In text mode (the default, or when
    't' is appended to the mode argument), the contents of the file are
    returned as strings, the bytes having been first decoded using a
    platform-dependent encoding or using the specified encoding if given.

    buffering is an optional integer used to set the buffering policy.
    Pass 0 to switch buffering off (only allowed in binary mode), 1 to select
    line buffering (only usable in text mode), and an integer > 1 to indicate
    the size of a fixed-size chunk buffer.  When no buffering argument is
    given, the default buffering policy works as follows:

    * Binary files are buffered in fixed-size chunks; the size of the buffer
      is chosen using a heuristic trying to determine the underlying device's
      "block size" and falling back on `io.DEFAULT_BUFFER_SIZE`.
      On many systems, the buffer will typically be 4096 or 8192 bytes long.

    * "Interactive" text files (files for which isatty() returns True)
      use line buffering.  Other text files use the policy described above
      for binary files.

    encoding is the name of the encoding used to decode or encode the
    file. This should only be used in text mode. The default encoding is
    platform dependent, but any encoding supported by Python can be
    passed.  See the codecs module for the list of supported encodings.

    errors is an optional string that specifies how encoding errors are to
    be handled---this argument should not be used in binary mode. Pass
    'strict' to raise a ValueError exception if there is an encoding error
    (the default of None has the same effect), or pass 'ignore' to ignore
    errors. (Note that ignoring encoding errors can lead to data loss.)
    See the documentation for codecs.register or run 'help(codecs.Codec)'
    for a list of the permitted encoding error strings.

    newline controls how universal newlines works (it only applies to text
    mode). It can be None, '', '\n', '\r', and '\r\n'.  It works as
    follows:

    * On input, if newline is None, universal newlines mode is
      enabled. Lines in the input can end in '\n', '\r', or '\r\n', and
      these are translated into '\n' before being returned to the
      caller. If it is '', universal newline mode is enabled, but line
      endings are returned to the caller untranslated. If it has any of
      the other legal values, input lines are only terminated by the given
      string, and the line ending is returned to the caller untranslated.

    * On output, if newline is None, any '\n' characters written are
      translated to the system default line separator, os.linesep. If
      newline is '' or '\n', no translation takes place. If newline is any
      of the other legal values, any '\n' characters written are translated
      to the given string.

    If closefd is False, the underlying file descriptor will be kept open
    when the file is closed. This does not work when a file name is given
    and must be True in that case.

    A custom opener can be used by passing a callable as *opener*. The
    underlying file descriptor for the file object is then obtained by
    calling *opener* with (*file*, *flags*). *opener* must return an open
    file descriptor (passing os.open as *opener* results in functionality
    similar to passing None).

    open() returns a file object whose type depends on the mode, and
    through which the standard file operations such as reading and writing
    are performed. When open() is used to open a file in a text mode ('w',
    'r', 'wt', 'rt', etc.), it returns a TextIOWrapper. When used to open
    a file in a binary mode, the returned class varies: in read binary
    mode, it returns a BufferedReader; in write binary and append binary
    modes, it returns a BufferedWriter, and in read/write mode, it returns
    a BufferedRandom.

    It is also possible to use a string or bytearray as a file for both
    reading and writing. For strings StringIO can be used like a file
    opened in a text mode, and for bytes a BytesIO can be used like a file
    opened in a binary mode.


Click to add a cell.

In [101]:
!cat hello.txt

Hello World! this is a sample file
this is second line
let's learn file handling in python

In [111]:
new_content= """S.no\tName\tMaths\tPhys\tChem
1\tSachin\t87\t90\t75
2\tSimran\t80\t95\t70
3\tRajat\t80\t80\t80"""

In [103]:
fp = open("hello.txt", "w")
fp.write(new_content)
fp.close()

In [104]:
!cat hello.txt

S.no	Name	Maths	Phys	Chem
1	Sachin	87	90	75
2	Simran	80	95	70
3	Rajat	80	80	80

In [105]:
fp = open("hello.txt", "x") # x opens new file for writting
fp.write(new_content)
fp.close()

FileExistsError: [Errno 17] File exists: 'hello.txt'

In [106]:
def write_content(path, content):
    try:
        fp = open(path, 'x')
        fp.write(content)
        fp.close()
    except FileExistsError:
        ch = input("File already Exists do you want to overwrite ?")
        if ch.lower().strip() in ['y', 'yes', 'yep', 'yo', 'yo yo']:
            fp = open(path, 'w')
            fp.write(content)
            fp.close()
        else:
            print("exiting function without writing content to file")

In [108]:
print(new_content)

S.no	Name	Maths	Phys	Chem
1	Sachin	87	90	75
2	Simran	80	95	70
3	Rajat	80	80	80

In [109]:
write_content('hello.txt', new_content)

File already Exists do you want to overwrite ? no

exiting function without writing content to file

In [112]:
new_content += "\n4\tRavi\t80\t90\t100"
print(new_content)

S.no	Name	Maths	Phys	Chem
1	Sachin	87	90	75
2	Simran	80	95	70
3	Rajat	80	80	80
4	Ravi	80	90	100

In [113]:
write_content('hello.txt', new_content)

File already Exists do you want to overwrite ? yes

In [114]:
!cat hello.txt

S.no	Name	Maths	Phys	Chem
1	Sachin	87	90	75
2	Simran	80	95	70
3	Rajat	80	80	80
4	Ravi	80	90	100

In [115]:
write_content('student.tsv', new_content)

In [116]:
!cat student.tsv

S.no	Name	Maths	Phys	Chem
1	Sachin	87	90	75
2	Simran	80	95	70
3	Rajat	80	80	80
4	Ravi	80	90	100

    r(default) w x t(default) b + 

    a -> append

In [117]:
fp = open('abcd.txt', 'w')
fp.write({'name': 'sachin', 'age': 29})
fp.close()

TypeError: write() argument must be str, not dict

In [119]:
"\t".join(map(str, ['shashank', 60, 70, 80]))

'shashank\t60\t70\t80'

In [128]:
def add_record(path, content):
    # [ "name", maths, chem, phys]
    content = "\n"+"\t".join(map(str, content))
    fp = open(path, "a")
    fp.write(content)
    fp.close()
    print('content updated successfully')

# with -> context manager 
def show_record(path):
    with open(path) as fp:
        for line in fp:
            print(line, end="")

In [129]:
add_record('hello.txt', [5, 'shashank', 60, 70, 80])

content updated successfully

In [130]:
show_record('hello.txt')

S.no	Name	Maths	Phys	Chem
1	Sachin	87	90	75
2	Simran	80	95	70
3	Rajat	80	80	80
4	Ravi	80	90	100

5	shashank	60	70	80

##  find topper from hello.txt and print it's name with percentage

# Serilzatoin and databases

In [131]:
import time
sleep_time  = 10 * 60

for i in range(sleep_time+1):
    time.sleep(1)
    print(f"\rTime Remaining: {sleep_time-i:>5} seconds.", end="")

Time Remaining:     0 seconds.

Serialization --> Data Types / object convert into bytes / text

De-Serialization --> Text/bytes read and convert into Data Type / object

In [149]:
x = ['hello', 'hi', 'bye', 'good bye']

for i, item in enumerate(x): #, start=100):
    print(i, item)

0 hello
1 hi
2 bye
3 good bye

In [164]:
def display_records(records, per, hear):
    print(*records, round(per, 2), sep='\t')

In [184]:
def get_topper(file, sep="\t", header=True, print_info=False):
    print_header = False
    topper_name = None
    max_per = 0
    with open(file) as fp:
        if header:
            # to skip header
            header = fp.readline()
        for record in fp:
            if record.strip() == "":
                # to skip blank lines
                continue
            record = record.strip().split(sep)
            record[2:] = map(float, record[-3:]) # de-serialization
            per = sum(record[-3:])/3
            if print_info:
                if not print_header:
                    print(header) if header else None
                    print_header = True
                temp = "{:>3}.\t{:<10}\t{:<5}\t{:<5}\t{:<5}\t{:<5}"
                print('-'*55)
                print(temp.format(*record, round(per, 2)))
            if per > max_per:
                max_per = per
                topper_name = record[1]
    return topper_name, max_per
            #print(repr(record), per)

In [185]:
ans = get_topper('hello.txt', print_info=True)

S.no	Name	Maths	Phys	Chem

-------------------------------------------------------
  1.	Sachin    	87.0 	90.0 	75.0 	84.0
-------------------------------------------------------
  2.	Simran    	80.0 	95.0 	70.0 	81.67
-------------------------------------------------------
  3.	Rajat     	80.0 	80.0 	80.0 	80.0
-------------------------------------------------------
  4.	Ravi      	80.0 	90.0 	100.0	90.0
-------------------------------------------------------
  5.	shashank  	60.0 	70.0 	80.0 	70.0

In [186]:
%%writefile student.data
1,Ravi,70,80,90
2,Sachin,90,79,90

Overwriting student.data

In [188]:
ans = get_topper('student.data', print_info=True, sep=',', header=False)

-------------------------------------------------------
  1.	Ravi      	70.0 	80.0 	90.0 	80.0
-------------------------------------------------------
  2.	Sachin    	90.0 	79.0 	90.0 	86.33

In [189]:
ans

('Sachin', 86.33333333333333)

### Serilization 

    JSON, YAML, pickle

In [193]:
import json
import random

In [194]:
names = ["Sachin Yadav", "Rajat Goyal", "Shubham Goyal", "Ayush Gupta", "Simran Grover", "Nidhi Sharma", "Ravi Goswami"]

In [201]:
data = [
    {'name': name, 'physics': random.randint(60, 100), 'maths': random.randint(60, 100), 'chem': random.randint(60, 100)}
        for name in names
    
]

In [202]:
with open('student.data', 'w') as fp:
    fp.write("sno,name,physics,maths,chem")
    for sno, rec in enumerate(data, start=1):
        line = f"\n{sno},{rec['name']},{rec['physics']},{rec['maths']},{rec['chem']}"
        fp.write(line)

In [203]:
!cat student.data

sno,name,physics,maths,chem
1,Sachin Yadav,89,74,69
2,Rajat Goyal,96,61,75
3,Shubham Goyal,63,93,63
4,Ayush Gupta,80,93,62
5,Simran Grover,77,92,60
6,Nidhi Sharma,71,65,78
7,Ravi Goswami,77,68,86

In [204]:
ans = get_topper('student.data', header=True, sep=",", print_info=True)

sno,name,physics,maths,chem

-------------------------------------------------------
  1.	Sachin Yadav	89.0 	74.0 	69.0 	77.33
-------------------------------------------------------
  2.	Rajat Goyal	96.0 	61.0 	75.0 	77.33
-------------------------------------------------------
  3.	Shubham Goyal	63.0 	93.0 	63.0 	73.0
-------------------------------------------------------
  4.	Ayush Gupta	80.0 	93.0 	62.0 	78.33
-------------------------------------------------------
  5.	Simran Grover	77.0 	92.0 	60.0 	76.33
-------------------------------------------------------
  6.	Nidhi Sharma	71.0 	65.0 	78.0 	71.33
-------------------------------------------------------
  7.	Ravi Goswami	77.0 	68.0 	86.0 	77.0

In [205]:
ans

('Ayush Gupta', 78.33333333333333)

In [197]:
data

[{'name': 'Sachin Yadav', 'physics': 93, 'maths': 65, 'chem': 71},
 {'name': 'Rajat Goyal', 'physics': 85, 'maths': 99, 'chem': 72},
 {'name': 'Shubham Goyal', 'physics': 93, 'maths': 62, 'chem': 96},
 {'name': 'Ayush Gupta', 'physics': 81, 'maths': 85, 'chem': 77},
 {'name': 'Simran Grover', 'physics': 77, 'maths': 72, 'chem': 76},
 {'name': 'Nidhi Sharma', 'physics': 85, 'maths': 83, 'chem': 77},
 {'name': 'Ravi Goswami', 'physics': 98, 'maths': 98, 'chem': 63}]

    dumps(obj) --> string / bytes representation of that object
    dump(obj, file) --> write object into file


    loads(string) --> object
    load(fp) ---> object

In [206]:
import json

In [207]:
data

[{'name': 'Sachin Yadav', 'physics': 89, 'maths': 74, 'chem': 69},
 {'name': 'Rajat Goyal', 'physics': 96, 'maths': 61, 'chem': 75},
 {'name': 'Shubham Goyal', 'physics': 63, 'maths': 93, 'chem': 63},
 {'name': 'Ayush Gupta', 'physics': 80, 'maths': 93, 'chem': 62},
 {'name': 'Simran Grover', 'physics': 77, 'maths': 92, 'chem': 60},
 {'name': 'Nidhi Sharma', 'physics': 71, 'maths': 65, 'chem': 78},
 {'name': 'Ravi Goswami', 'physics': 77, 'maths': 68, 'chem': 86}]

In [209]:
print(type(data))

<class 'list'>

In [210]:
st = json.dumps(data)
print(type(st))

<class 'str'>

In [211]:
st

'[{"name": "Sachin Yadav", "physics": 89, "maths": 74, "chem": 69}, {"name": "Rajat Goyal", "physics": 96, "maths": 61, "chem": 75}, {"name": "Shubham Goyal", "physics": 63, "maths": 93, "chem": 63}, {"name": "Ayush Gupta", "physics": 80, "maths": 93, "chem": 62}, {"name": "Simran Grover", "physics": 77, "maths": 92, "chem": 60}, {"name": "Nidhi Sharma", "physics": 71, "maths": 65, "chem": 78}, {"name": "Ravi Goswami", "physics": 77, "maths": 68, "chem": 86}]'

JSON data type

    json type       python type 
    
        int             int
        float           float

        string          string

        array           list, tuple

        map              dict

        true             True

        false            False

        null             None

In [219]:
d = {    'int':     5, 'float': 10.5, 'string': 'hello world', 
     
      'list': [1, 2, 3, ], 'tuple': (1, 2, 3)}

json.dumps(d)

'{"int": 5, "float": 10.5, "string": "hello world", "list": [1, 2, 3], "tuple": [1, 2, 3]}'

In [220]:
data

[{'name': 'Sachin Yadav', 'physics': 89, 'maths': 74, 'chem': 69},
 {'name': 'Rajat Goyal', 'physics': 96, 'maths': 61, 'chem': 75},
 {'name': 'Shubham Goyal', 'physics': 63, 'maths': 93, 'chem': 63},
 {'name': 'Ayush Gupta', 'physics': 80, 'maths': 93, 'chem': 62},
 {'name': 'Simran Grover', 'physics': 77, 'maths': 92, 'chem': 60},
 {'name': 'Nidhi Sharma', 'physics': 71, 'maths': 65, 'chem': 78},
 {'name': 'Ravi Goswami', 'physics': 77, 'maths': 68, 'chem': 86}]

In [221]:
with open('student.json', 'w') as fp:
    json.dump(data, fp)

In [222]:
!cat student.json

[{"name": "Sachin Yadav", "physics": 89, "maths": 74, "chem": 69}, {"name": "Rajat Goyal", "physics": 96, "maths": 61, "chem": 75}, {"name": "Shubham Goyal", "physics": 63, "maths": 93, "chem": 63}, {"name": "Ayush Gupta", "physics": 80, "maths": 93, "chem": 62}, {"name": "Simran Grover", "physics": 77, "maths": 92, "chem": 60}, {"name": "Nidhi Sharma", "physics": 71, "maths": 65, "chem": 78}, {"name": "Ravi Goswami", "physics": 77, "maths": 68, "chem": 86}]

In [223]:
with open('student.json') as fp:
    info = json.load(fp)

In [225]:
print(type(info))

<class 'list'>

In [226]:
info

[{'name': 'Sachin Yadav', 'physics': 89, 'maths': 74, 'chem': 69},
 {'name': 'Rajat Goyal', 'physics': 96, 'maths': 61, 'chem': 75},
 {'name': 'Shubham Goyal', 'physics': 63, 'maths': 93, 'chem': 63},
 {'name': 'Ayush Gupta', 'physics': 80, 'maths': 93, 'chem': 62},
 {'name': 'Simran Grover', 'physics': 77, 'maths': 92, 'chem': 60},
 {'name': 'Nidhi Sharma', 'physics': 71, 'maths': 65, 'chem': 78},
 {'name': 'Ravi Goswami', 'physics': 77, 'maths': 68, 'chem': 86}]

### JSON provides cross language support

In [5]:
class User:
    __acc_no = 1000
    def __init__(self, name):
        self.__name = name
        self.__acc_no = self.get_account_number()
    @classmethod
    def get_account_number(cls):
        cls.__acc_no += 1
        return cls.__acc_no
    def __str__(self):
        return f"Name = {self.__name}\nAcc No. = {self.__acc_no}"

In [231]:
u1 = User('sachin')
u2 = User('rajat')

In [232]:
print(u1)
print(u2)

Name = sachin
Acc No. = 1001
Name = rajat
Acc No. = 1002

In [233]:
u3 = User("rahul")

In [234]:
print(u3)

Name = rahul
Acc No. = 1003

In [235]:
json.dumps(u3)

TypeError: Object of type User is not JSON serializable

In [236]:
import pickle

In [237]:
pickle.dumps('hello')

b'\x80\x04\x95\t\x00\x00\x00\x00\x00\x00\x00\x8c\x05hello\x94.'

In [242]:
obj = { 'name': 'sachin', 'language': ['hindi', 'english'] }
with open('hello', 'wb') as fp:
    pickle.dump(obj, fp)

In [243]:
!cat hello

6       }(namesachinlanguage](hindienglisheu.

In [244]:
with open('hello', 'rb') as fp:
    x = pickle.load(fp)

In [245]:
type(x)

dict

In [246]:
x

{'name': 'sachin', 'language': ['hindi', 'english']}

In [247]:
User

__main__.User

In [250]:
with open("user.pkl", "wb") as fp:
    pickle.dump(User, fp)

In [251]:
users = [ u1, u2, u3]

In [252]:
with open('user_data.pkl', 'wb') as fp:
    pickle.dump(users, fp)

In [3]:
import pickle

In [6]:
with open("user.pkl", "rb") as fp:
    User = pickle.load(fp)

In [7]:
User

__main__.User

In [8]:
u4 = User('simran')

In [9]:
print(u4)

Name = simran
Acc No. = 1001

In [10]:
users = pickle.load(open('user_data.pkl', 'rb'))

In [11]:
users

[<__main__.User at 0x1652e3740>,
 <__main__.User at 0x1652e3950>,
 <__main__.User at 0x164a282f0>]

In [12]:
for u in users:
    print(u)

Name = sachin
Acc No. = 1001
Name = rajat
Acc No. = 1002
Name = rahul
Acc No. = 1003

why pickle instead of JSON ?

    JSON does not support all python types [tuple, complex, set, custom object]

    Pickle --> support all python types

In [13]:
s = { 1, 2, 3}

In [14]:
import json

json.dumps(s)

In [16]:
pickle.dumps(s)

b'\x80\x04\x95\x0b\x00\x00\x00\x00\x00\x00\x00\x8f\x94(K\x01K\x02K\x03\x90.'

### Database

In [17]:
import time

sleep_time = 15*60

for i in range(sleep_time+1):
    print(f"\rWe will start in {sleep_time-i:>5} seconds.", end="")
    time.sleep(1)

We will start in    14 seconds.

KeyboardInterrupt:

In [18]:
!git clone https://github.com/sachinyadav3496/Datasets

Cloning into 'Datasets'...
remote: Enumerating objects: 70, done.
remote: Counting objects: 100% (70/70), done.
remote: Compressing objects: 100% (61/61), done.
remote: Total 70 (delta 13), reused 62 (delta 9), pack-reused 0 (from 0)
Receiving objects: 100% (70/70), 40.21 MiB | 408.00 KiB/s, done.
Resolving deltas: 100% (13/13), done.

Datbases

    Effiencet programs to manage data in files

SQL

    Structure Query Language  


    Tabular data

        fix no of columns which represents attributes of an entity 

        each row represents an instance or object

    roll_no (pk) name   phy    chem   math

    1      sachin  90   80  70             tuple / record / row 
    2

Database Server

    multiple databases and users

    mariadb --> Xampp

SQL server 

    Terminal Acess - mysql -u root -p 

    IDE / Workbench - SQL queries

    Language - Python

Database server

    Student   --> Database / Schema

        info -> roll_no int, name varchar(100), address varchar(100), ph_no varchar(10), ...
        fees --> roll_no int (fk info.roll_no), total_fees float, rem_fees float
        courses --> ...
        

    Bank

    Blog

In [21]:
!ls Datasets/database/

Assignment-2-WED.docx      Database3.txt
database                   DBMS.docx
database_project.txt       exercise-Building-SQL.docx
database_quiz.pdf          exercise-ERD-to-SQL-2.docx
Database1.txt              RAT 3 V2.docx
Database2.txt              TEST_DATABASES

In [22]:
path = "Datasets/database/Database1.txt"
with open(path) as file:
    for line in file:
        print(line)
        input()

----> log into database ( in case of error make sure your database is running at localhost on port number 3306)

#mysql -u root -p

----> full command  mysql --host hostname --port 3306 --user username --database dbname -p

---> for creating a database

#CREATE DATABASE student CHARACTER SET utf8;

KeyboardInterrupt: Interrupted by user

#### connectors 

    install approprite connector library

In [23]:
!pip install pymysql

Requirement already satisfied: pymysql in /opt/anaconda3/lib/python3.12/site-packages (1.1.1)

In [24]:
import pymysql

In [26]:
HOSTNAME = "localhost" # "127.0.0.1"
PORT = 3306
USER = "root"
PASSWORD = ""

DEFAULT_SCHEMA="student" # optional

In [27]:
con = pymysql.connect(host=HOSTNAME, port=PORT, user=USER, password=PASSWORD)

In [28]:
cur = con.cursor()

`cur.execute(sql_command)`

In [29]:
cur.execute("SHOW DATABASES")

5

In [30]:
databases = cur.fetchall()

In [31]:
databases

(('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('phpmyadmin',),
 ('test',))

In [34]:
x = 10
print(f"{'hello':^{x}}")

  hello

In [68]:
def run_command(cur, command, col_width=20):
    cur.execute(command)
    # ( (col1, col2, ..., coln), (col1, col2, ...,coln), ... (p1, p2, p3))
    result = cur.fetchall()
    # sql command result fetch
    for row in result:
        row = list(map(str, row))
        cols = len(row)
        width = cols * col_width + cols*2
        print('-'*width)
        temp = "{:^{w}}|"*cols
        print("|", temp.format(*row, w=col_width))
    print('-'*width)

In [46]:
run_command(cur, "SHOW DATABASES")

----------------------
|  information_schema |
----------------------
|        mysql        |
----------------------
|  performance_schema |
----------------------
|      phpmyadmin     |
----------------------
|         test        |
----------------------

In [48]:
command = "CREATE DATABASE student CHARSET utf8"
cur.execute(command)

1

In [49]:
run_command(cur, "SHOW DATABASES")

----------------------
|  information_schema |
----------------------
|        mysql        |
----------------------
|  performance_schema |
----------------------
|      phpmyadmin     |
----------------------
|       student       |
----------------------
|         test        |
----------------------

In [52]:
cur.execute("USE student")

0

In [ ]:
HOSTNAME = "localhost" # "127.0.0.1"
PORT = 3306
USER = "root"
PASSWORD = ""

DEFAULT_SCHEMA="student" # optional

In [53]:
con = pymysql.connect(host=HOSTNAME, port=PORT, user=USER, password=PASSWORD, database=DEFAULT_SCHEMA)

In [54]:
cur = con.cursor()

In [56]:
con.commit()

### SQL

    DDL - Data Defination Language

        create
        drop
        truncate
        ...
    
    DML - Data Manipulation language

        insert
        update
        remove
        delete

    DQL - Data Query langauge

        select

    DCL - Data Control Language

        grant
        revoke

    TCL - Transacation Control Language

        roll-back
        commit

student

    roll_no int(pk), name varchar(100), ph_no varchar(13)

fees 

    roll_no int(fk student.roll_no), total int, rem int

In [58]:
command = "CREATE TABLE student(roll_no INT, name VARCHAR(100), ph_no VARCHAR(13))"

In [59]:
cur.execute(command)
con.commit()

In [60]:
command = "DROP TABLE student"
cur.execute(command)
con.commit()
# TRUNCATE --> Data DELETE but will not delete DEFINATED

In [72]:
command = "CREATE OR REPLACE TABLE student(roll_no INT PRIMARY KEY AUTO_INCREMENT, name VARCHAR(100) NOT NULL, ph_no VARCHAR(13))"

In [73]:
cur.execute(command)

0

In [74]:
con.commit()

cur1 = con.cursor()
cur2 = con.cursor()
cur3 = con.curor()
# parallel processing -

In [65]:
cur.execute('DESC student')

3

In [66]:
cur.fetchall()

(('roll_no', 'int(11)', 'NO', 'PRI', None, ''),
 ('name', 'varchar(100)', 'NO', '', None, ''),
 ('ph_no', 'varchar(13)', 'YES', '', None, ''))

In [75]:
run_command(cur, "DESC student")

------------------------------------------------------------------------------------------------------------------------------------
|       roll_no       |      int(11)       |         NO         |        PRI         |        None        |   auto_increment   |
------------------------------------------------------------------------------------------------------------------------------------
|         name        |    varchar(100)    |         NO         |                    |        None        |                    |
------------------------------------------------------------------------------------------------------------------------------------
|        ph_no        |    varchar(13)     |        YES         |                    |        None        |                    |
------------------------------------------------------------------------------------------------------------------------------------

In [78]:
command = "INSERT INTO student (roll_no, name, ph_no) VALUES (1001, 'sachin yadav', '1234567890')"

In [79]:
cur.execute(command)
con.commit()

In [80]:
command = "SELECT * FROM student"

run_command(cur, command)

------------------------------------------------------------------
|         1001        |    sachin yadav    |     1234567890     |
------------------------------------------------------------------

In [82]:
command = "INSERT INTO student (name, ph_no) VALUES ('Rajat Goyal', '445544556767'), ('Ravi Swami', '38498349349')"

In [83]:
cur.execute(command)
con.commit()

In [84]:
command = "SELECT * FROM student"

run_command(cur, command)

------------------------------------------------------------------
|         1001        |    sachin yadav    |     1234567890     |
------------------------------------------------------------------
|         1002        |    Rajat Goyal     |    445544556767    |
------------------------------------------------------------------
|         1003        |     Ravi Swami     |    38498349349     |
------------------------------------------------------------------

In [85]:
# UPDATE
command = "UPDATE student SET ph_no = '9782131159' WHERE roll_no = 1001"

In [86]:
cur.execute(command)
con.commit()

In [87]:
command = "SELECT * FROM student"

run_command(cur, command)

------------------------------------------------------------------
|         1001        |    sachin yadav    |     9782131159     |
------------------------------------------------------------------
|         1002        |    Rajat Goyal     |    445544556767    |
------------------------------------------------------------------
|         1003        |     Ravi Swami     |    38498349349     |
------------------------------------------------------------------

    one to one
    one to many
    many to many


    roll_no pk student ---> fees.roll no pk fk(student.roll_no)   one to one 

    roll_no pk student ---> course.roll_no fk(student.roll_no)    one to many 

    trainer_course trainer_id, courser_id  ---> course.course_id              many to one

    running_courses st_id, course_id ----> fees_table course_id, st_id       many to many

In [ ]:
CONSTRAINT `fk_student` FOREIGN KEY (sid) REFERENCES student(sid)

In [102]:
command = "CREATE OR REPLACE TABLE course(cid INT PRIMARY KEY AUTO_INCREMENT, sid INT, name VARCHAR(100), CONSTRAINT `fk_st`\
FOREIGN KEY (sid) REFERENCES  student(roll_no) ON UPDATE CASCADE ON DELETE CASCADE)"

In [103]:
cur.execute(command)
con.commit()

In [104]:
run_command(cur, "DESC course")

------------------------------------------------------------------------------------------------------------------------------------
|         cid         |      int(11)       |         NO         |        PRI         |        None        |   auto_increment   |
------------------------------------------------------------------------------------------------------------------------------------
|         sid         |      int(11)       |        YES         |        MUL         |        None        |                    |
------------------------------------------------------------------------------------------------------------------------------------
|         name        |    varchar(100)    |        YES         |                    |        None        |                    |
------------------------------------------------------------------------------------------------------------------------------------

In [105]:
command = "INSERT INTO course VALUES (1, 1001, 'python')"
cur.execute(command)
con.commit()

In [106]:
command = "INSERT INTO course(sid, name) VALUES (1001, 'data science')"
cur.execute(command)
con.commit()

In [108]:
command = "SELECT * FROM course"

run_command(cur, command)

------------------------------------------------------------------
|          1          |        1001        |       python       |
------------------------------------------------------------------
|          2          |        1001        |    data science    |
------------------------------------------------------------------

In [111]:
command = "DELETE FROM course WHERE cid=2"
cur.execute(command)
con.commit()

In [112]:
command = "SELECT * FROM course"

run_command(cur, command)

------------------------------------------------------------------
|          1          |        1001        |       python       |
------------------------------------------------------------------

In [113]:
command = "SELECT roll_no, name FROM student"
run_command(cur, command)

--------------------------------------------
|         1001        |    sachin yadav    |
--------------------------------------------
|         1002        |    Rajat Goyal     |
--------------------------------------------
|         1003        |     Ravi Swami     |
--------------------------------------------

# JOINs 

    Inner JOIN --> common records / intersection

    Left JOIN --> all data of left table and common data of right

In [120]:
command = "SELECT t1.roll_no as `ROLL NUM`, t1.name as `STUDENT NAME`, t2.name as COURSE FROM student as t1 JOIN course as t2 ON t1.roll_no=t2.sid"

In [121]:
run_command(cur, command)

------------------------------------------------------------------
|         1001        |    sachin yadav    |       python       |
------------------------------------------------------------------

In [122]:
command = "SELECT t1.roll_no as `ROLL NUM`, t1.name as `STUDENT NAME`, t2.name as COURSE FROM student as t1 LEFT JOIN course as t2 ON t1.roll_no=t2.sid"

In [123]:
run_command(cur, command)

------------------------------------------------------------------
|         1001        |    sachin yadav    |       python       |
------------------------------------------------------------------
|         1002        |    Rajat Goyal     |        None        |
------------------------------------------------------------------
|         1003        |     Ravi Swami     |        None        |
------------------------------------------------------------------

In [124]:
command = "INSERT INTO course(sid, name) VALUES (1001, 'data science'), (1002, 'linux')"
cur.execute(command)
con.commit()

In [125]:
command = "SELECT t1.roll_no as `ROLL NUM`, t1.name as `STUDENT NAME`, t2.name as COURSE FROM student as t1 LEFT JOIN course as t2 ON t1.roll_no=t2.sid"
run_command(cur, command)

------------------------------------------------------------------
|         1001        |    sachin yadav    |       python       |
------------------------------------------------------------------
|         1001        |    sachin yadav    |    data science    |
------------------------------------------------------------------
|         1002        |    Rajat Goyal     |       linux        |
------------------------------------------------------------------
|         1003        |     Ravi Swami     |        None        |
------------------------------------------------------------------

Assignment 

    Database-1
    Database-2
    Database-3