 PEP-8

Escapse Sequences

# Strings 

    collection of UTF-8 characters 


    name = 'sachin'
    country = "India"

    Escapse Sequence 

        "hello \u+1F60A"

In [11]:
print("hello \u00FE")

hello Ã¾

    he didn't say that "she is beautiful."

In [13]:
s = 'he didn't say that "she is beautiful."'

SyntaxError: unterminated string literal (detected at line 1) (2751908147.py, line 1)

In [14]:
s = 'he didn\'t say that "she is beautiful."'

print(s)

he didn't say that "she is beautiful."

    escape sequence \n represents new line

    "\n"  new line
    "\t"  tab space (4 space)
    "\r"  carriage return
    "\'"  insert single quote in string
    "\""  insert double quote in string

In [15]:
s = "escape sequence \n represents new line"

print(s)

escape sequence
 represents new line

In [16]:
s = "escape sequence \\n represents new line"

print(s)

escape sequence \n represents new line

In [17]:
path = "C:\Users\sachin\Desktop\DS_Jun_25"
print(path)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (1273965912.py, line 1)

In [18]:
path = "C:\\Users\\sachin\\Desktop\\DS_Jun_25"
print(path)

C:\Users\sachin\Desktop\DS_Jun_25

    dir - all methods of a class

    help - print help of any object/function/method/class

    id - prints unique of of an object

    type - prints class of an object

In [19]:
x = "  hEllO wOrLd  "

print(x, id(x), type(x))
print(dir(x))
help(x.upper)

  hEllO wOrLd   4949814576 <class 'str'>
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [20]:
s = "hello"

In [21]:
print(dir(s))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [22]:
s.upper

In [23]:
help(s.upper)  # print documentation

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [24]:
upper

NameError: name 'upper' is not defined

In [27]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [25]:
help(str.capitalize)

Help on method_descriptor:

capitalize(self, /) unbound builtins.str method
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

In [30]:
"hello" == "Hello"

False

In [28]:
s = "heLLo wORlD!"

In [29]:
ns = s.capitalize()
print(ns)

Hello world!

## Case related funcitons


    str.capitalize - first charcter capital rest small case letters

    str.upper - all letters in upper case 

    str.lower - all letters in lower case

    str.swapcase - lower case letters into upper case and upper case letter into lowercase

    str.title   - First letter of each word become capital rest remains lower case

In [31]:
s = "hELLo World"

print("  original", s)
print("capitalize", s.capitalize())
print("     upper", s.upper())
print("     lower", s.lower())
print("  swapcase", s.swapcase())
print("     title", s.title())

  original hELLo World
capitalize Hello world
     upper HELLO WORLD
     lower hello world
  swapcase HellO wORLD
     title Hello World

# String justification

    Table 

        name         country     age

        jhon          UK          35

        radheshyam   India        20

        sam           US          120

In [32]:
print("Name Country Age")
print("Jhon UK 35")
print("Radheshyam India 20")
print("Sam US 120")

Name Country Age
Jhon UK 35
Radheshyam India 20
Sam US 120

|    <---50--->  | <-- 50 country --> | <-- 5 --> |


|Jhon-------------|    left justify       <     str.ljust(width, fillchar="-")
|       Jhon      |    center justify     ^     str.center(width)
|             Jhon|    right justify      >     str.rjust(width)

In [33]:
s = "Jhon"
help(s.rjust)

Help on built-in function rjust:

rjust(width, fillchar=' ', /) method of builtins.str instance
    Return a right-justified string of length width.

    Padding is done using the specified fill character (default is a space).

In [37]:
s = "Jhon     "
print(s, repr(s))
# repr(object)  --> print raw representation of an object

Jhon      'Jhon     '

In [38]:
s = "hello world\n\t\tThis is Awesome.\nHa Ha Ha"
print(s)

hello world
		This is Awesome.
Ha Ha Ha

In [39]:
print(repr(s))

'hello world\n\t\tThis is Awesome.\nHa Ha Ha'

In [40]:
s = "Jhon"
w = 50

print(repr(s))
print(repr(s.ljust(50)))
print(repr(s.center(50)))
print(repr(s.rjust(50)))

'Jhon'
'Jhon                                              '
'                       Jhon                       '
'                                              Jhon'

In [41]:
s = "Jhon"
w = 50
fc = "-"

print(repr(s))
print(repr(s.ljust(w, fc)))
print(repr(s.center(w, fc)))
print(repr(s.rjust(w, fc)))

'Jhon'
'Jhon----------------------------------------------'
'-----------------------Jhon-----------------------'
'----------------------------------------------Jhon'

In [42]:
s = "Jhon"
w = 50
fc = "_"

print(repr(s))
print(repr(s.ljust(w, fc)))
print(repr(s.center(w, fc)))
print(repr(s.rjust(w, fc)))

'Jhon'
'Jhon______________________________________________'
'_______________________Jhon_______________________'
'______________________________________________Jhon'

In [46]:
import time 
seconds = 300
for second in range(seconds+1):
    print("\r"+f"Time Remaining {seconds-second}".center(100), end="")
    time.sleep(1)

                                          Time Remaining 0

In [48]:
name = "Jhon"
country = "UK"
age = 25

# {name} lives in country {nation} and is {age} years old 
print("%s lives in country %s and is %d years old"%(name, country, age))

Jhon lives in country UK and is 25 years old

In [53]:
name = "Jhon"
country = "UK"
age = 25

# {name} lives in country {nation} and is {age} years old 
info = "%s lives in country %s and is %d years old"
print(info%(name, country, age))

print(info%("Radheshyam", "India", 28))

Jhon lives in country UK and is 25 years old
Radheshyam lives in country India and is 28 years old

In [57]:
name = "Jhon"
country = "UK"
age = 25

# {name} lives in country {nation} and is {age} years old. {name} is a awesome person. 
info = "{} lives in country {} and is {} years old. {} is a awesome person."
#       0                    1         2

print(info)
print(info.format(name, country, age, name))
#                   0      1       2

print(info.format("Radheshyam", "India", 28, "Radheshyam"))

{} lives in country {} and is {} years old. {} is a awesome person.
Jhon lives in country UK and is 25 years old. Jhon is a awesome person.
Radheshyam lives in country India and is 28 years old. Radheshyam is a awesome person.

In [58]:
name = "Jhon"
country = "UK"
age = 25

# {name} lives in country {nation} and is {age} years old. {name} is a awesome person. 
info = "{0} lives in country {1} and is {2} years old. {0} is a awesome person."
#       0                    1         2

print(info)
print(info.format(name, country, age))
#                   0      1       2

print(info.format("Radheshyam", "India", 28))

{0} lives in country {1} and is {2} years old. {0} is a awesome person.
Jhon lives in country UK and is 25 years old. Jhon is a awesome person.
Radheshyam lives in country India and is 28 years old. Radheshyam is a awesome person.

In [61]:
name = "Jhon"
country = "UK"
age = 25

# {name} lives in country {nation} and is {age} years old. {name} is a awesome person. 
info = "{username} lives in country {nation} and is {age} years old. {username} is a awesome person."
#       0                    1         2

print(info)
print(info.format(username=name, nation=country, age=age))
#                   0      1       2

print(info.format(username="Radheshyam", nation="India", age=28))

{username} lives in country {nation} and is {age} years old. {username} is a awesome person.
Jhon lives in country UK and is 25 years old. Jhon is a awesome person.
Radheshyam lives in country India and is 28 years old. Radheshyam is a awesome person.

In [64]:
name = "Jhon"
country = "UK"
age = 25


print(f"{name} lives in country {country} and is {age} years old. {name} is a awesome person.")

Jhon lives in country UK and is 25 years old. Jhon is a awesome person.

# F-string

    f"{var}"

### String Formatting 


    C-style 

        type identifier  

            int - %d
            str - %s
            float - %f

In [ ]:
name = "Jhon"
country = "UK"
age = 25

template = "|Name|Country|Age|"

print("|{}|{}|{}|")

In [69]:
names = [ "Jhon", "Radheshyam", "Hari", "Michael", "Alice" ]
#           0          1           2        3         4
print(names)

print(names[0]) # indexing
print(names[2])

['Jhon', 'Radheshyam', 'Hari', 'Michael', 'Alice']
Jhon
Hari

In [70]:
for item in names:
    print(item)

Jhon
Radheshyam
Hari
Michael
Alice

In [72]:
names = [ "Jhon", "Radheshyam", "Hari", "Michael", "Alice" ]

for name in names:
    print(f"let's use justification '{name.center(20)}' in string formatting.")

let's use justification '        Jhon        ' in string formatting.
let's use justification '     Radheshyam     ' in string formatting.
let's use justification '        Hari        ' in string formatting.
let's use justification '      Michael       ' in string formatting.
let's use justification '       Alice        ' in string formatting.

In [73]:
names = [ "Jhon", "Radheshyam", "Hari", "Michael", "Alice" ]

for name in names:
    print(f"let's use justification '{name.rjust(20)}' in string formatting.")

let's use justification '                Jhon' in string formatting.
let's use justification '          Radheshyam' in string formatting.
let's use justification '                Hari' in string formatting.
let's use justification '             Michael' in string formatting.
let's use justification '               Alice' in string formatting.

In [74]:
names = [ "Jhon", "Radheshyam", "Hari", "Michael", "Alice" ]

for name in names:
    print(f"let's use justification '{name.ljust(20)}' in string formatting.")

let's use justification 'Jhon                ' in string formatting.
let's use justification 'Radheshyam          ' in string formatting.
let's use justification 'Hari                ' in string formatting.
let's use justification 'Michael             ' in string formatting.
let's use justification 'Alice               ' in string formatting.

In [75]:
names = [ "Jhon", "Radheshyam", "Hari", "Michael", "Alice" ]

for name in names:
    print(f"let's use justification '{name:<20}' in string formatting.")

let's use justification 'Jhon                ' in string formatting.
let's use justification 'Radheshyam          ' in string formatting.
let's use justification 'Hari                ' in string formatting.
let's use justification 'Michael             ' in string formatting.
let's use justification 'Alice               ' in string formatting.

In [76]:
names = [ "Jhon", "Radheshyam", "Hari", "Michael", "Alice" ]

for name in names:
    print(f"let's use justification '{name:>20}' in string formatting.")

let's use justification '                Jhon' in string formatting.
let's use justification '          Radheshyam' in string formatting.
let's use justification '                Hari' in string formatting.
let's use justification '             Michael' in string formatting.
let's use justification '               Alice' in string formatting.

In [77]:
names = [ "Jhon", "Radheshyam", "Hari", "Michael", "Alice" ]

for name in names:
    print(f"let's use justification '{name:^20}' in string formatting.")

let's use justification '        Jhon        ' in string formatting.
let's use justification '     Radheshyam     ' in string formatting.
let's use justification '        Hari        ' in string formatting.
let's use justification '      Michael       ' in string formatting.
let's use justification '       Alice        ' in string formatting.

In [82]:
x, y = 10, 20
print(x, y)

10 20

In [81]:
# tuple unpacking 
name, country, age = "Jhon", "Us", 20
print(name, country, age)

Jhon Us 20

In [78]:
data = [
    [ "Name", "Country", "age"],
    ["jhon","UK", 35],
    ["radheshyam", "india", 20],
    ["sam", "us", 120]
]

In [79]:
for item in data:
    print(item) # item = ?

['Name', 'Country', 'age']
['jhon', 'UK', 35]
['radheshyam', 'india', 20]
['sam', 'us', 120]

In [83]:
for name, country, age in data:
    print(name, country, age) # item = ?

Name Country age
jhon UK 35
radheshyam india 20
sam us 120

In [85]:
"-"*10

'----------'

______________________________ (74)
|name (50)|country(20)|age(5)|
_______________________________ (74)

In [91]:
name, country, age = "Jhon", "Us", "20"
print("_"*49)
print(f"|{name:^20}|{country:^20}|{age:^5}|")
print("-"*49)

_________________________________________________
|        Jhon        |         Us         | 20  |
-------------------------------------------------

In [92]:
data = [
    [ "Name", "Country", "age"],
    ["jhon","UK", 35],
    ["radheshyam", "india", 20],
    ["sam", "us", 120]
]

print("_"*49)
for name, country, age in data:
    print(f"|{name:^20}|{country:^20}|{age:^5}|")
    print("-"*49)

_________________________________________________
|        Name        |      Country       | age |
-------------------------------------------------
|        jhon        |         UK         | 35  |
-------------------------------------------------
|     radheshyam     |       india        | 20  |
-------------------------------------------------
|        sam         |         us         | 120 |
-------------------------------------------------