# Python Programming

https://www.anaconda.com/download/

Python is a high-level, interpreted programming language known for its simplicity, readability, and versatility. It was created by Guido van Rossum and first released in 1991. Since then, Python has gained immense popularity and is used in a wide variety of applications, ranging from web development to scientific computing to artificial intelligence.

Readability: Python's syntax is designed to be clean and easy to understand, which makes it a great language for beginners. The use of indentation to define block structures, rather than braces or keywords, contributes to its readability.

Versatility: Python can be used for a wide range of tasks, including web development (e.g., Django, Flask), data analysis (e.g., Pandas, NumPy), machine learning (e.g., TensorFlow, PyTorch), automation, and more.

Extensive Standard Library: Python comes with a rich standard library that provides modules and functions for a wide variety of tasks without the need for external libraries.

Community Support: The Python community is large and active. This means that there are plenty of resources available for learning and troubleshooting, including tutorials, forums, and third-party packages.

Dynamic Typing: Variables in Python are not bound to a specific data type, which makes the language more flexible.

Interpreted Language: Python is an interpreted language, which means that it executes code line-by-line, making debugging and testing easier.

Cross-Platform: Python is platform-independent, meaning it can run on various operating systems without modification.

Integration: Python can easily integrate with other languages like C, C++, and Java, and it supports various data formats and databases.

Growth in Data Science and AI: With the rise of data science, machine learning, and artificial intelligence, Python has become a go-to language because of its robust ecosystem of libraries and frameworks tailored for these domains.

Open Source: Python is open-source, which means its source code is freely available. This allows for a large community of developers to contribute and improve the language.

# Data Types

In Python, variables are used to store data values. Unlike some other programming languages, Python doesn't require explicit declaration of a variable's data type. Instead, the type is determined dynamically when a value is assigned to a variable.

Integers (int):

These are whole numbers, without a decimal point.

In [25]:
x=5

print(x)

print(type(x))

5
<class 'int'>

Floating Point Numbers (float):

These are numbers with a decimal point or numbers in exponential form.

In [26]:
y = 3.14
z = 2.5e3

print(y)

print(type(y))

3.14
<class 'float'>

Strings (str):

A sequence of characters enclosed within single ('), double ("), or triple (''' or """) quotes.

In [27]:
name = "Python"

print(name)

print(type(name))

Python
<class 'str'>

In [28]:
name = 'Python'

print(name)

print(type(name))

Python
<class 'str'>

Booleans (bool):

Represents either True or False.

In [29]:
is_active = True

print(is_active)

print(type(is_active))

True
<class 'bool'>

# String Functions

capitalize():

Returns the string with the first character capitalized.

In [30]:
"hello".capitalize()

'Hello'

lower():

Converts all characters in the string to lowercase.

In [31]:
"HELLO".lower()

'hello'

upper():

Converts all characters in the string to uppercase.

In [32]:
"hello".upper()

'HELLO'

title():

Converts the first character of each word to uppercase.

In [33]:
"hello world".title()

'Hello World'

len() (a built-in function, not a method):

Returns the length of the string.

In [34]:
len("hello")

5

strip():

Removes leading and trailing whitespace.

In [35]:
" hello ".strip()

'hello'

lstrip():

Removes leading whitespace.

In [36]:
" hello".lstrip()

'hello'

rstrip():

Removes trailing whitespace.

In [37]:
"hello ".rstrip()

'hello'

startswith(substring):

Checks if the string starts with the given substring.

In [38]:
"hello".startswith("he")

True

endswith(substring):

Checks if the string ends with the given substring.

In [39]:
"hello".endswith("lo")

True

find(substring):

Returns the index of the first occurrence of the substring, or -1 if not found.

In [40]:
"hello".find("l")

2

In [41]:
"hello".find("p")

-1

replace(old, new):

Replaces occurrences of the old substring with the new substring.

In [42]:
"hello".replace("l", "r")

'herro'

split(separator):

Splits the string at each occurrence of the separator and returns a list of substrings.

In [43]:
"apple,banana,cherry".split(",")

['apple', 'banana', 'cherry']

join(iterable):

Joins the items of the given iterable (e.g., a list) using the string as the delimiter.

In [44]:
" ".join(["apple", "banana", "cherry"])

'apple banana cherry'

In [45]:
",".join(["apple", "banana", "cherry"])

'apple,banana,cherry'

isalpha():

Checks if all characters in the string are alphabetic.

In [46]:
"hello".isalpha()

True

In [47]:
"hello123".isalpha()

False

isdigit():

Checks if all characters in the string are digits.

In [48]:
"1234".isdigit()

True

swapcase():

Converts uppercase characters to lowercase and lowercase characters to uppercase.

In [49]:
"hElLo".swapcase()

'HeLlO'

The format() method in Python is used to format strings by inserting values at specified positions. It offers a way to embed arbitrary values into strings with defined format specifications.

Positional Formatting:

In this method, you use placeholders in the form of curly braces {} to indicate where the values should be inserted. The values to be inserted are passed as arguments to the format() method in the order they should replace the placeholders.

In [51]:
template = "Hello, my name is {} and I am {} years old."
formatted_string = template.format("Alice", 30)
print(formatted_string)

Hello, my name is Alice and I am 30 years old.

In [52]:
template = "Hello, my name is {0} and I am {1} years old. Did I mention my name is {0}?"
formatted_string = template.format("Alice", 30)
print(formatted_string)

Hello, my name is Alice and I am 30 years old. Did I mention my name is Alice?

Keyword Formatting:

In this method, you use named placeholders in the string and then pass the values as keyword arguments to the format() method.

In [53]:
template = "Hello, my name is {name} and I am {age} years old."
formatted_string = template.format(name="Bob", age=40)
print(formatted_string)

Hello, my name is Bob and I am 40 years old.

In [54]:
formatted_number = "{:.2f}".format(3.14159)
print(formatted_number)

3.14

# List

A list in Python is an ordered collection of items, which can be of any type. Lists are mutable, meaning that their content can be changed after creation. They are one of the most versatile and commonly used data structures in Python.

Properties of Lists:

Ordered: Lists maintain the order of the elements based on their position or index.

Mutable: Lists allow modification after creation, which means you can add, remove, or change items after the list is created.

Heterogeneous: Lists can contain items of different data types, e.g., integers, strings, and other objects.

Indexable: Each item in a list has an assigned index, starting from 0 for the first item.

In [63]:
my_list = [1, 2, 3, 'Python', 3.14]

print(my_list)

print(type(my_list))

[1, 2, 3, 'Python', 3.14]
<class 'list'>

append(item):

Adds an item to the end of the list.

In [64]:
my_list.append("200")

print(my_list)

[1, 2, 3, 'Python', 3.14, '200']

extend(iterable):

Adds all the items from the iterable (e.g., another list) to the end of the list.

In [65]:
my_list.extend([40, 50, 60])

In [66]:
my_list

[1, 2, 3, 'Python', 3.14, '200', 40, 50, 60]

insert(index, item):

Inserts the item at the given index.

In [67]:
my_list.insert(1,300)

print(my_list)

[1, 300, 2, 3, 'Python', 3.14, '200', 40, 50, 60]

remove(item):

Removes the first occurrence of the item from the list.

In [68]:
my_list.remove('Python')

print(my_list)

[1, 300, 2, 3, 3.14, '200', 40, 50, 60]

pop(index=-1):

Removes and returns the item at the given index. If no index is specified, it removes and returns the last item.

In [69]:
my_list.pop()

print(my_list)

[1, 300, 2, 3, 3.14, '200', 40, 50]

In [70]:
my_list.pop(1)

print(my_list)

[1, 2, 3, 3.14, '200', 40, 50]

count(item):

Counts the number of occurrences of the item in the list.

In [71]:
count_of_3 = my_list.count(3)

In [72]:
print(count_of_3)

1

In [73]:
my_list1=[1, 2, 3, 3.14, 200, 40, 50]

In [74]:
my_list1.sort()

In [75]:
my_list1

[1, 2, 3, 3.14, 40, 50, 200]

In [76]:
my_list1.sort(reverse=True)
my_list1

[200, 50, 40, 3.14, 3, 2, 1]

# Tuples

A tuple in Python is an ordered collection of items, similar to a list. However, unlike lists, tuples are immutable, meaning their content cannot be changed after creation. This immutability makes tuples suitable for representing fixed collections of items or for use as keys in dictionaries.

Properties of Tuples:

Ordered: Tuples maintain the order of elements based on their position or index.

Immutable: Once a tuple is created, you can't modify its contents. This means you can't add, remove, or change items after the tuple is created.

Heterogeneous: Tuples can contain items of different data types, e.g., integers, strings, and other objects.

Indexable: Each item in a tuple has an assigned index, starting from 0 for the first item.

In [77]:
my_tuple = (1, 2, 3, 'Python', 3.14)

print(my_tuple)

print(type(my_tuple))

(1, 2, 3, 'Python', 3.14)
<class 'tuple'>

count(item):

Counts the number of occurrences of an item in the tuple.

In [78]:
my_tuple.count(3)

1

index(item):

Returns the index of the first occurrence of an item in the tuple.

In [80]:
my_tuple

(1, 2, 3, 'Python', 3.14)

In [79]:
my_tuple.index('Python')

3

len(tuple):

Returns the number of items in the tuple.

In [81]:
len(my_tuple)

5

min(tuple):

Returns the smallest item in the tuple.

In [82]:
min((1, 2, 3, 4, 5))

1

sum(tuple):

Returns the sum of all items in the tuple (only for numeric tuples).

In [83]:
sum((1, 2, 3, 4, 5))

15

Concatenation:

Joining two or more tuples.

In [84]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [85]:
(1, 2, 3) + (4, "Python", 6)

(1, 2, 3, 4, 'Python', 6)

In [86]:
my_tuple

(1, 2, 3, 'Python', 3.14)

In [87]:
my_tuple[-1]

3.14

In [88]:
my_tuple[3:]

('Python', 3.14)

In [89]:
my_tuple[:4]

(1, 2, 3, 'Python')

In [90]:
my_tuple[2:5]

(3, 'Python', 3.14)

In [91]:
# start:stop:step

In [92]:
my_tuple[:]

(1, 2, 3, 'Python', 3.14)

In [93]:
my_tuple[::2]

(1, 3, 3.14)

# Dictionary

A dictionary in Python is an unordered collection of key-value pairs, where each key must be unique. Dictionaries are mutable, allowing you to add, remove, and change entries after the dictionary is created.

In [94]:
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

print(my_dict)

print(type(my_dict))

{'name': 'Alice', 'age': 30, 'city': 'New York'}
<class 'dict'>

get(key, default=None):

Returns the value for the given key if it exists, otherwise returns the default value.

In [95]:
my_dict.get("name")

'Alice'

In [96]:
my_dict["name"]

'Alice'

keys():

Returns a view object displaying a list of all the keys in the dictionary.

In [97]:
print(my_dict.keys())

dict_keys(['name', 'age', 'city'])

values():

Returns a view object displaying a list of all the values in the dictionary.

In [98]:

print(my_dict)
my_dict.values()

{'name': 'Alice', 'age': 30, 'city': 'New York'}

dict_values(['Alice', 30, 'New York'])

items():

Returns a view object displaying a list of the dictionary's key-value tuple pairs.

In [99]:
my_dict.items()

dict_items([('name', 'Alice'), ('age', 30), ('city', 'New York')])

update(other_dict):

Merges the dictionary with another dictionary or with an iterable of key-value pairs.

In [100]:
my_dict.update({"country": "USA"})

my_dict

{'name': 'Alice', 'age': 30, 'city': 'New York', 'country': 'USA'}

In [101]:
my_dict.update({"age": 40})

my_dict

{'name': 'Alice', 'age': 40, 'city': 'New York', 'country': 'USA'}

pop(key):

Removes the item with the specified key and returns its value.

In [102]:
my_dict.pop("age")

40

In [103]:
my_dict

{'name': 'Alice', 'city': 'New York', 'country': 'USA'}

popitem():

Removes and returns the last key-value pair as a tuple.

In [104]:
my_dict.popitem()

('country', 'USA')

clear():

Removes all items from the dictionary.

In [106]:
my_dict.clear()

In [107]:
my_dict

{}

len(dict):

Returns the number of items in the dictionary.

In [108]:
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

len(my_dict)

3

in keyword:

Checks if a key exists in the dictionary.

In [109]:
"name" in my_dict

True

not in keyword:

Checks if a key does not exist in the dictionary.

In [110]:
"height" not in my_dict

True

# Sets

A set in Python is an unordered collection of unique items. Sets are similar to lists and dictionaries, but they don't have duplicate values and don't support indexing or slicing.

In [111]:
my_set = {1, 2, 3, 4, 5,1,2,3,4,5}

print(my_set)

print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [112]:
my_set_from_list = set([1, 2, 2, 3, 4, 5])

my_set_from_list

{1, 2, 3, 4, 5}

add(element):

Adds an element to the set.

In [113]:
my_set.add(6)

my_set

{1, 2, 3, 4, 5, 6}

remove(element):

Removes the specified element from the set. Raises a KeyError if the element is not found.

In [114]:
my_set.remove(3)

In [115]:
my_set

{1, 2, 4, 5, 6}

clear():

Removes all elements from the set.

In [116]:
my_set.clear()

In [117]:
print(my_set)

set()

union(*others) or | operator:

Returns a new set containing all elements from the original set and all elements from the other sets.

In [118]:
my_set = {1, 2, 3, 4,5}

set2= {4,5,6,7,8,9}

new_set = my_set.union(set2)

print(new_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

intersection(*others) or & operator:

Returns a new set containing all elements that are common to all sets.

In [119]:
new_set = my_set.intersection(set2)

In [120]:
new_set

{4, 5}

len(set):

Returns the number of elements in the set.

In [121]:
my_set

{1, 2, 3, 4, 5}

In [122]:
 len(my_set)

5

# Conditional Statements

Conditional statements allow you to execute specific blocks of code depending on certain conditions. The primary conditional statements in Python are if, elif, and else.

In [123]:
x = 5
if x > 0:
    print("x is positive")

x is positive

In [124]:
x = -5
if x > 0:
    print("x is positive")
else:
    print("x is negative or zero")

x is negative or zero

In [125]:
x = 0
if x > 0:
    print("x is positive")
elif x < 0:
    print("x is negative")
else:
    print("x is zero")

x is zero

# Loops

Loops allow you to repeatedly execute a block of code as long as a condition is satisfied.

for Loop:

The for loop in Python is used to iterate over a sequence (e.g., a list, tuple, string) or other iterable objects.

In [126]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [127]:
range(5)

range(0, 5)

In [128]:
list(range(5))

[0, 1, 2, 3, 4]

In [129]:
for i in range(5):
    print(i)

0
1
2
3
4

In [130]:
for x in range(5):
    print(x)

0
1
2
3
4

while Loop:

The while loop is used to execute a block of code repeatedly as long as a condition is true.

In [133]:
count = 0
while count < 5:
    print(count)
    #count=count+1
    count+=1

0
1
2
3
4

break:

Exits the loop prematurely when a certain condition is met.

In [134]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

continue:

Skips the current iteration of the loop and continues with the next iteration.

In [135]:
for i in range(5):
    if i == 2:
        continue
    print(i)

0
1
3
4

Check if a number is even or odd

In [136]:
number = 10
if number % 2 == 0:
    print("Even")
else:
    print("Odd")

Even

Sum of all numbers in a list

In [137]:
numbers = [1, 2, 3, 4, 5]
total = 0
for num in numbers:
    total += num
print(total)

15