# 1. Explore split, strip, replace, center, title methods of string data type in python

## Split()
    string.split() 

    ("Return a list of the substrings in the string, using sep as the separator string.

      sep
        The separator used to split the string.
    
        When set to None (the default value), will split on any whitespace
        character (including \n \r \t \f and spaces) and will discard
        empty strings from the result.
      maxsplit
        Maximum number of splits.
        -1 (the default value) means no limit.
    
    Splitting starts at the front of the string and works to the end.
    
    Note, str.split() is mainly useful for data that has been intentionally
    delimited.  With natural text that includes punctuation, consider using
    the regular expression module.")

In [1]:
str = "Amit Solera"

In [2]:
str.split()

['Amit', 'Solera']

In [3]:
# Split multiple character set by any specific character 

name = "Amit,Abhi,Sonu,yogi"

In [4]:
name.split(",")

['Amit', 'Abhi', 'Sonu', 'yogi']

In [5]:
str.split

## Strip()
    str.strip()
            --> Remove white-space and an specfic characters from the end and starting of the given string

            ("Return a copy of the string with leading and trailing whitespace removed. If chars is given and not None, remove characters in chars instead")

In [6]:
str = "       Amit Solera      "

In [7]:
str.strip()

'Amit Solera'

In [8]:
str = "  .!@#;     Amit Solera     ;.,;!@# "

In [9]:
str.strip(' ,.;!@#')

'Amit Solera'

In [10]:
str = "     *****Amit Solera*****      "

In [11]:
str.strip(' *')

'Amit Solera'

## Replace()
    str.replace("old" , "new")
        --> Replace all occurrences of the string by new .

        ("Return a copy with all occurrences of substring old replaced by new.")

In [12]:
str = "Hello World!"

In [13]:
str.replace("H","B")

'Bello World!'

In [14]:
str = "Hello World!! . Welcome to Python World!!"

In [15]:
str.replace("World", "Diniyaa")

'Hello Diniyaa!! . Welcome to Python Diniyaa!!'

In [16]:
str = "Amit        Solera        "

In [17]:
str.replace(" " , "")

'AmitSolera'

## Center
    str.center(width , "Fill Character")
            --> 
            ("Return a centered string of length width.
        
            Padding is done using the specified fill character (default is a space).")

In [18]:
str = "Amit"

In [19]:
str.center(10)

'   Amit   '

In [20]:
str.center(10 ,"-")

'---Amit---'

## Title()
    str.title()
        ("Return a version of the string where each word is titlecased.

        More specifically, words start with uppercased characters and all remaining
        cased characters have lower case.")

In [21]:
str = "hello sir , welcome !!. how can i assist you??."

In [22]:
str.title()

'Hello Sir , Welcome !!. How Can I Assist You??.'

# 2. What is difference between mutable and immutable data types in python

## Data Types :-
    There are generally two types of data types - 
        1.) Mutable Data Types ,
        2.)Immutable Data Types

### 1. Mutable Data Types :-
                            Mutable objects are those whose values or contents can be modified in-place after they are created. This means you can change the object's internal state without creating a new object in memory.
    Ex:- List , Dict , set etc.

### 2. Immutable Data Types :-
                           Immutable objects are those whose values or contents cannot be changed after they are created. Any operation that appears to modify an immutable object actually results in the creation of a new object with the desired changes, leaving the original object untouched.
    Ex:- Tuple , string etc.

# 3. What are identifiers, list rules of identifiers in python

## Identifiers :- 
                An identifier is a user-defined name given to various entities within a program, such as variables, functions, classes, modules, and other objects. They serve to uniquely identify these elements, making the code more readable and manageable.

#### Rules for Naming Identifiers in Python: :- 
    
    - Case-Sensitivity: Python identifiers are case-sensitive. For example, myVariable and myvariable are treated as distinct identifiers.
    
    - Allowed Characters: Identifiers can consist of letters (uppercase A-Z, lowercase a-z), digits (0-9), and underscores (_).
    
    - Starting Character: An identifier must begin with a letter or an underscore. It cannot start with a digit. 
    
    - Keywords: Identifiers cannot be Python's reserved keywords (e.g., if, else, while, for, def, class).
    
    - Special Symbols: Identifiers cannot contain special symbols like !, @, #, $, %, etc.
    
    - Whitespace: Identifiers cannot contain whitespace.

# 4. Given the string s = "        PyThOn ProGRamming         ", write steps to: 
    -Remove leading/trailing spaces 

    -Convert it to lowercase 

    -Capitalize the first letter

In [23]:
str = "     PyThOn ProGRamming    "

In [24]:
str.strip().lower().capitalize()

'Python programming'

# 5. Substring Search & Replacement --> For the string text = "I love Python, Python is easy": 

    -Find the index of the first occurrence of "Python" 
    
    -Replace all "Python" with "Java" 
    
    -Check if the string ends with "easy"

In [25]:
str = "I love Python,Python is easy"

In [26]:
str.find("Python")

7

In [27]:
str.replace("Python" , "Java")

'I love Java,Java is easy'

In [28]:
str.endswith("easy")

True

# 6. String Splitting & Joining --> Given data = "apple,banana,mango,grape": 

    -Split it into a list of fruits 
    
    -Join the list back into a string with " | " as separator

In [29]:
data = "apple,banana,mango,grape"

In [30]:
fruit = data.split(",")

In [31]:
print(fruit)

['apple', 'banana', 'mango', 'grape']

In [32]:
" | ".join(fruit)

'apple | banana | mango | grape'

# 7. Character Validation & Counting --> For s = "ABC123!@#": 
    
    -Check if all characters are alphanumeric 
    
    -Count the number of digits 
    
    -Count occurrences of the letter "A" (case-insensitive) 
    
    -Count occurrence of symbols

In [33]:
s = "ABC123!@#"

In [34]:
s.isalnum()

False

--> Count the number of Digit

In [35]:
count = 0
for x in range(len(s)):
    if (s[x].isdigit() == True ):
        count+=1

In [36]:
print(f"Number of Digit : {count}")

Number of Digit : 3

--> Count occurence of symbols

In [37]:
count = 0
for x in range(len(s)):
    if (s[x].isalnum() == False ):
        count+=1

In [38]:
print(f"Number of Symbols : {count}")

Number of Symbols : 3

# 8. Slicing & Formatting --> Given filename = "report_2024_final.txt": 

    -Extract the year "2024" using slicing 
    
    -Remove the ".txt" extension 
    
    -Format it as "Final Report (2024)"

In [39]:
name = "report_2024_final.txt"

In [40]:
year = name[7:11]

In [41]:
print(year)

2024

In [42]:
new_name = name.removesuffix(".txt")

In [43]:
print(new_name)

report_2024_final

In [44]:
print(f"Final Report ({year})")

Final Report (2024)

# 9.  The Palindrome Check --> For a string like word = "RaceCar", how can you: 

    -Check if it's a palindrome (same forwards/backwards) 
    
    -Ignore case differences (e.g., "RaceCar" = True)

In [45]:
word = "RaceCar"

In [46]:
l_word = word.lower()

In [47]:
r_word = l_word[::-1]

In [48]:
check = (l_word == r_word)

In [49]:
print(check)

True

# 10.   You are given the following date-time string: 
    - datetime_str = "2025-05-10 14:30:00" 
    
    - Write a Python program that uses slicing to extract: 
    
        --> print the result in this given format: 
        
            - Date: 10/05/2025, Time: 14:30

In [50]:
datatime_str = "2025-05-10 14:30:00"

In [51]:
year = datatime_str[0:4]

In [52]:
month = datatime_str[5:7]

In [53]:
day = datatime_str[8:10]

In [54]:
time = datatime_str[-8:-3]

In [55]:
print(f"Date: {day}/{month}/{year}, Time : {time}")

Date: 10/05/2025, Time : 14:30

# What are escape characters? 

    -What do the \n and \t escape characters represent? 
    
    -How can you put a \ backslash character in a string? 
    
    -The string value "Howl's Moving Castle" is a valid string. Why isn’t it a problem that the single quote character in the word Howl's isn’t escaped?

## Escape characters :-
                    Escape characters are used when we need to include special characters in a string that are otherwise hard (or illegal) to type directly. These are preceded by a backslash (\), which tells Python that the next character is going to be a special character.

### - What do the \n and \t escape characters represent?

In [56]:
# '\n' - Used to change the line.

print("Hello , My name is Amit.\nI am from the Sikar")

Hello , My name is Amit.
I am from the Sikar

In [57]:
# '\t' - Used to insert tab space

print("Hello, Welcome to Python Programming.\tHere we slove")

Hello, Welcome to Python Programming.	Here we slove

### - How can you put a \ backslash character in a string?
        -->To represent a single backslash character within a string, you need to escape it by using a double backslash \\

In [58]:
print("This is Backspace :\\")

This is Backspace :\

### - The string value "Howl's Moving Castle" is a valid string. Why isn’t it a problem that the single quote character in the word Howl's isn’t escaped?

In [59]:
str = "Howl's Moving Castle"

In [60]:
print(str)

Howl's Moving Castle

The single quote in "Howl's" does not need to be escaped because the entire string is enclosed in double quotes. The double quotes act as delimiters, and any single quotes within the string are treated as literal characters rather than the end of the string. [1, 2, 3, 4]  
Explanation: 
In most programming languages, strings are defined using either single quotes (`) or double quotes (").  When you use double quotes to begin and end a string, any single quotes within that string are treated as part of the string's content and not as delimiters.  Therefore, you don't need to escape them with a backslash. [3, 5]

In [61]:
# Example (Python): 
str = "Howl's Moving Castle"
print(str)
# Output: Howl's Moving Castle

Howl's Moving Castle

In this example, the single quote within "Howl's" is correctly interpreted as part of the string because the entire string is enclosed in double quotes. If you were to use single quotes to define the string, then you would need to escape the single quote within "Howl's" with a backslash: [2, 6, 7]

In [62]:
str = 'Howl\'s Moving Castle'
print(str)
# Output: Howl's Moving Castle

Howl's Moving Castle