# 1. What is difference between shallow copy and deep copy?

## **Shallow Copy**

* **Copies only the outer object**, not the nested (inner) objects.
* If the original has a reference to another object (like a list inside a list), both the original and the copied object **share the same reference**.

In [1]:
import copy

original = [[1, 2], [3, 4]]
shallow = copy.copy(original)

shallow[0][0] = 99

print(original)

[[99, 2], [3, 4]]

In [2]:
print(id(original))
print(id(shallow))

# Both id's were same

2255940949760
2255940950144

### Deep Copy

* **Copies everything recursively**, including all nested objects.
* The new object is **completely independent** of the original.
* Deep copy creates a **fully separate clone** of all objects inside.

In [3]:
import copy

original = [[1, 2], [3, 4]]
deep = copy.deepcopy(original)

deep[0][0] = 99

print(original)

[[1, 2], [3, 4]]

In [4]:
print(id(original))
print(id(deep))

# Both id's were Different

2255940987200
2255940984384

# 2. Convert the list ['a', 'b', 'c'] to a string joined by commas

In [5]:
lst = ['a','b','c']

In [6]:
str = ",".join(lst)

In [7]:
print(f"The joined string is \"{str}\"")

The joined string is "a,b,c"

# 3. Change the dictionary {'a': 1, 'b': 2} into a list of tuples [('a', 1), ('b', 2)]

In [8]:
data = {
    'a' : 1,
    'b' : 2
}

In [9]:
tp = tuple(data.items()) # converts the Dictionary items in tuple

In [10]:
tp

(('a', 1), ('b', 2))

In [11]:
lst = list(tp) # converts the Dictionary items in tuple

In [12]:
print(f"The Dictionary is converted into the list of tuple :- {lst}")

The Dictionary is converted into the list of tuple :- [('a', 1), ('b', 2)]

# 4. From the tuple (1, 2, 3), create a new tuple with 4 added to the end

In [13]:
tp = (1,2,3)

In [14]:
new_tuple = tp + (4,)

In [15]:
new_tuple

(1, 2, 3, 4)

# 5. Explain how to create a set from the list [1, 2, 2, 3, 3, 3]

* `By using typecasting we can convert on  data type to another`

     - Now, here using `set(list)` method list can be changed into a set.

In [16]:
lst = [1,2,2,3,3,3]

In [17]:
st = set(lst)

In [18]:
st

{1, 2, 3}

# 6. Given s = "hello", lst = [1, 2, 3], d = {'a': 1}, t = (4, 5) - which is mutable?

In [19]:
str = "hello" 

# Immutable

In [20]:
lst = [1,2,3]

# Mutable

In [21]:
dc = {
    'a' : 1
}

# Mutable

In [22]:
tp = (4,5)

# Immutable

# 7. â€œ   hello   ", write the method chain that removes whitespace from both ends

In [23]:
str = " hello "

In [24]:
str.strip() # this function will remove the extra whitespace from starting and end...

'hello'

* `for method Chain you can apply more then one function on this string `

In [25]:
str = " hello "

In [26]:
str.strip().title()

'Hello'

# 8. With s = "apple,banana,cherry", split the string into a list at each comma

In [27]:
str = "apple,banana,cherry"

In [28]:
str.split()

['apple,banana,cherry']

# 9. Given s = "Hello", replace all 'l' with 'x' using a string method

In [29]:
str = "Hello"

In [30]:
str.replace("l" , "x")

'Hexxo'

# 10 . With lst = [1, 2, 3], insert the number 5 at index position 1

In [31]:
lst = [1,2,3]

In [32]:
lst.insert(1,5)

In [33]:
print(f"After insert the element : {lst}")

After insert the element : [1, 5, 2, 3]

# 11. For lst = [1, 2, 3], reverse the order of elements without using slicing

In [34]:
lst = [1,2,3]

In [35]:
lst.reverse()

In [36]:
print(f"Reversed list :- {lst}")

Reversed list :- [3, 2, 1]

# 12. Given lst = [1, 2, 3, 4], remove and return the last element

In [37]:
lst = [1,2,3,4]

In [38]:
x = lst.pop()

In [39]:
print(f"The element you pop from the List is {x}")

The element you pop from the List is 4

# 13. With d = {'a': 1, 'b': 2}, return all the keys as a list

In [40]:
dc = {
    'a' : 1,
    'b' : 2
}

In [41]:
lst = list(dc.keys())

In [42]:
lst

['a', 'b']

# 14. For d = {'a': 1, 'b': 2}, check if 'a' exists as a key without using if statements

In [43]:
dc = {
    'a' : 1,
    'b' : 2
}

In [44]:
result = 'a' in dc

In [45]:
result

True

# 15. Using d = {'a': 1}, update the dictionary to also include {'b': 2}

In [46]:
dc = {
    'a' : 1
}

In [47]:
d = {
    'b' : 2
}

In [48]:
dc.update(d)

In [49]:
dc

{'a': 1, 'b': 2}

# 16. With d = {'a': 1, 'b': 2}, remove and return the value for key 'a'

In [50]:
dc = {
    'a' : 1 ,
    'b' : 2
}

In [51]:
dc.pop('a')

1

In [52]:
dc

{'b': 2}

# 17. Given d = {'a': 1}, get the value for 'b' returning None if not found

In [53]:
dc = {
    'a' : 1
}

In [54]:
dc.get('b' , None)

In [55]:
dc

{'a': 1}

# 18. Using s = {1, 2, 3, 4}, remove the number 3 from the set

In [56]:
st = {1,2,3,4}

In [57]:
st.remove(3)

In [58]:
st

{1, 2, 4}

# 19. For s1 = {1, 2, 3} and s2 = {3, 4, 5}, find the union of both sets

In [59]:
st1 = {1,2,3}

In [60]:
st2 = {3,4,5}

In [61]:
st1.union(st2)

{1, 2, 3, 4, 5}

# 20. With s1 = {1, 2, 3} and s2 = {3, 4}, find elements in s1 not in s2

In [62]:
st1 = {1,2,3}

In [63]:
st2 = {3,4}

In [64]:
st1.difference(st2)

{1, 2}