# 01. What are the two values of the Boolean data type? How do you write them?

- The two values of the Boolean data type are `True` and `False`.
-  These are typically written using the keywords True and False in many programming languages, including Python. Some languages may also represent them with the numerical values 1 and 0, respectively

# 02. Calculate the area of a rectangle using length * width.

In [1]:
ln = int(input("Enter the Length of rectangle :- "))
wd = int(input("Enter the Width of rectangle :- "))

area = ln * wd
print(f"The area of the Rectangle with Length {ln} and Width {wd} is {area}..")

Enter the Length of rectangle :-  3
Enter the Width of rectangle :-  2

The area of the Rectangle with Length 3 and Width 2 is 6..

# 03. Write a program to compute the simple interest: 
    SI = (P * R * T) / 100

`The formula for calculating simple interest is: SI = (P * R * T) / 100, where:`

    SI: represents the Simple Interest.
    P: represents the Principal amount (the initial amount of money).
    R: represents the Rate of interest per year (usually expressed as a percentage).
    T: represents the Time period (usually in years).

In [2]:
p = float(input("Enter Principle Amount :- "))
r = float(input("Enter Rate of interest per year (%) :- "))
t = int(input("Enter Time period (in years) :- "))

si = (p * r * t) / 100

print(f"Sample Intrest is {si}")

Enter Principle Amount :-  10
Enter Rate of interest per year (%) :-  12
Enter Time period (in years) :-  1

Sample Intrest is 1.2

# 04. Given two numbers, perform all arithmetic operations: +, -, *, /, //, %, **.

In [3]:
x = int(input("Enter your First Number :- "))
y = int(input("Enter your Second Number :- "))

print("Your all Arithmatic Operatins are.........\n")

print(f"Addition is : {x+y}")
print(f"Subtraction is : {x-y}")
print(f"Multiplication is : {x*y}")
print(f"Division is : {x/y}")
print(f"Floor Division is : {x//y}")
print(f"Modulus is : {x%y}")
print(f"{x} power {y} is : {x**y}")

Enter your First Number :-  4
Enter your Second Number :-  3

Your all Arithmatic Operatins are.........

Addition is : 7
Subtraction is : 1
Multiplication is : 12
Division is : 1.3333333333333333
Floor Division is : 1
Modulus is : 1
4 power 3 is : 64

# 05. x=5  y=”5” Verify whether x is greater than or equal to y after type conversion

In [4]:
x = 5 
y = int("5")

In [5]:
x >= y

True

# 06. Use not to check if a number is not negative.

In [6]:
num = int(input("Enter a Number:- "))

ans = not num < 0

print(f"{ans} :- Number {num} is Not negative.")

Enter a Number:-  3

True :- Number 3 is Not negative.

# 07. Write a program to check if a number is between 10 and 50 using and.

In [7]:
num = int(input("Enter a Number between (10 and 50) :- "))

ans = num in range(10,51)
print(ans)

Enter a Number between (10 and 50) :-  7

False

# 08. Find the result of a & b, a | b, and a ^ b for two numbers.

In [8]:
a = int(input("Enter value of a :-"))
b= int(input("Enter value of b :-"))

print(f"a&b :- {a&b}")
print(f"a|b :- {a|b}")
print(f"a^b :- {a^b}")

Enter value of a :- 5
Enter value of b :- 3

a&b :- 1
a|b :- 7
a^b :- 6

# 09. Shift a number 1 bit to the left and right using << and >>.

In [9]:
a = int(input("Enter a number: "))

left_shift = a << 1
right_shift = a >> 1

print("Original number:", a)
print("Left Shift (a << 1):", left_shift)
print("Right Shift (a >> 1):", right_shift)

Enter a number:  7

Original number: 7
Left Shift (a << 1): 14
Right Shift (a >> 1): 3

# 10. Check if the word "data" exists in the string "data science is fun" using in.

In [10]:
str = "data science is fun"
"data" in str

True

# 11. Create two lists with the same elements and check:

In [11]:
lst1 = ["Amit" , "Abhi" , "yogi" , "Sandeep"]
lst2 = ["Amit" , "Abhi" , "yogi" , "Sandeep"]

In [12]:
lst1 is lst2

False

In [13]:
lst1 == lst2

True

# 12. list1 == list2 (equality)

In [14]:
print(lst1)
print(lst2)

['Amit', 'Abhi', 'yogi', 'Sandeep']
['Amit', 'Abhi', 'yogi', 'Sandeep']

In [15]:
lst1 == lst2

True

# 13. list1 is list2 (identity)

In [16]:
lst1 is lst2

False

# 14. What are the three Boolean operators?

## `and` Operator

* Returns `True` only if **both conditions** are `True`.
* If **any one is False**, result is `False`.


condition1 and condition2

In [17]:
a = 10
b = 5
print(a > 5 and b < 10)   # True and True → True
print(a < 5 and b < 10)   # False and True → False

True
False

## `or` Operator

* Returns `True` if **at least one condition** is `True`.
* Returns `False` only if **both are False**.

condition1 or condition2

In [18]:
a = 10
b = 20
print(a > 15 or b == 20)  # False or True → True
print(a > 15 or b > 25)   # False or False → False

True
False

## `not` Operator

* **Reverses** the Boolean value of a condition:

  * `not True` → `False`
  * `not False` → `True`


not condition

In [19]:
a = 5
print(not a > 3)     # not True → False
print(not a < 3)     # not False → True

False
True

# 15. Write out the truth tables of each Boolean operator (that is, every possible combination of Boolean values for the operator and what they evaluate to).

## Truth Tables for Boolean Operators

## 1. `and` Operator

| A     | B     | A and B |
|-------|-------|---------|
| True  | True  | True    |
| True  | False | False   |
| False | True  | False   |
| False | False | False   |

---

## 2. `or` Operator

| A     | B     | A or B  |
|-------|-------|---------|
| True  | True  | True    |
| True  | False | True    |
| False | True  | True    |
| False | False | False   |

---

## 3. `not` Operator

| A     | not A |
|-------|--------|
| True  | False  |
| False | True   |

# 16. What do the following expressions evaluate to? 

    (5 > 4) and (3 == 5) 
    
    not (5 > 4) 
    
    (5 > 4) or (3 == 5) 
    
    not ((5 > 4) or (3 == 5)) 
    
    (True and True) and (True == False) 
    
    (not False) or (not True)

In [20]:
(5 > 4) and (3 == 5)

False

In [21]:
not (5 > 4)

False

In [22]:
(5 > 4) or (3 == 5)

True

In [23]:
not ((5 > 4) or (3 == 5))

False

In [24]:
(True and True) and (True == False)

False

In [25]:
(not False) or (not True)

True

# 17. What are the six comparison operators?

* The six comparison operators are used to compare two values and return a Boolean result (True or False)

1. `Equal to (==) :-` Returns True if both values are equal
2. `Not equal to (!=) :-` Returns True if both values are not equal
3. `Greater than(>) :-` Returns True if the left value is greater
4. `Less than (<) :-` Returns True if the left value is smaller
5. `Greater than or equal to (>=):-` Returns True if the left value is greater or equal
6. `Less than or equal to (<=) :-` Returns True if the left value is smaller or equal

In [26]:
a = 10
b = 20

print(a == b)   # False → 10 is not equal to 20
print(a != b)   # True  → 10 is not equal to 20
print(a > b)    # False → 10 is not greater than 20
print(a < b)    # True  → 10 is less than 20
print(a >= b)   # False → 10 is not greater or equal to 20
print(a <= b)   # True  → 10 is less than or equal to 20

False
True
False
True
False
True

# 18. What is the difference between the equal to operator and the assignment operator?

## Assignment Operator (`=`):-

The assignment operator `=` is used to **assign a value to a variable**.
It **stores data** in a variable name, which can then be used later in the program.

x = 10  # the value `10` is assigned (or stored) in the variable `x`

* `=` does **not compare** values.
* It creates a **link between a variable and a value** in memory.

## Equal To Operator (`==`):-

The equal to operator `==` is a **comparison operator**.
It checks **whether two values are equal**, and returns a **Boolean value**: `True` or `False`.

x == 10 # Check if the value of `x` is equal to 10

This is usually used inside:

* `if` statements
* conditional logic
* loops and filters

In [27]:
x = 10          # assignment: store 10 in x

if x == 10:     # comparison: check if x is equal to 10
    print("x is 10")
else:
    print("x is not 10")

x is 10

# 19. Explain what a condition is and where you would use one.

`is` Operator :-

The `is` operator is used to check identit, i.e., whether `two variables refer to the same object in memory.`

- Syntax:

    a is b


Returns `True` if `a` and `b` are the same object (not just equal in value).

In [28]:
x = [1, 2, 3]
y = x
z = [1, 2, 3]

print(x is y)  # True (same object)
print(x is z)  # False (different objects, even though values are same)
print(x == z)  # True (values are equal)

True
False
True