**Python Tasks – Day15**

# 1. write output of this code 

    def extendList(val, list=[]): 
    
        list.append(val) 
    
        return list 
    
    list1 = extendList(10) 
    
    list2 = extendList(123,[]) 
    
    list3 = extendList('a') 
    
    print("list1 = %s" % list1) 
    
    print("list2 = %s" % list2) 
    
    print("list3 = %s" % list3)

In [1]:
def extendList(val, list=[]): 

    list.append(val) 

    return list 

list1 = extendList(10) 

list2 = extendList(123,[]) 

list3 = extendList('a') 

print("list1 = %s" % list1) 

print("list2 = %s" % list2) 

print("list3 = %s" % list3)

list1 = [10, 'a']
list2 = [123]
list3 = [10, 'a']

# 2. Write a function reverse() that inputs a number and return the reverse of that number, for example if input is 1293, function should return 3921.

In [2]:
def reverse(n):
    temp = n
    rev = 0
    while n:
        if n > 0:
            mod = n %10
            rev = rev*10 + mod
            n//=10
    else:
        return rev

In [3]:
reverse(1293)

3921

# 3. Using the function reverse() in previous program, make a function isPalindrome() that inputs a number and checks whether it is a palindrome number. A number is palindrome number if it remains same after reversing its digits, for example 949, 82328 are palindrome.

In [4]:
def isPalindrome(num):
    rev = reverse(num)
    if num == rev:
        print(f"The Given number {num} is Palindrome...")
    else:
        print(f"The Given number {num} is not Palindrome...")

In [5]:
num = int(input("Enter any Number to check number is Palindrome or not"))

isPalindrome(num)

Enter any Number to check number is Palindrome or not 12321

The Given number 12321 is Palindrome...

# 4. Write a function isprime() which takes a number and returns 1 if the number is prime and 0 otherwise.

In [6]:
def isPrime(num):
    i = 2
    while i < num:
        if num%i == 0:
            return 0
        i+=1
    return 1

In [7]:
isPrime(7)

1

# 5. Write a function that inputs two numbers and prints all prime numbers between those numbers.

In [8]:
def prime(start , end):
    for num in range(start,end+1):
        for i in range(2 , num):
            if num % i ==0:
                break
        else:
            print(num)

In [9]:
prime(10,50)

11
13
17
19
23
29
31
37
41
43
47

# 6. Write a program to raise a floating point number to an integer power(eg. an where a is floating point number and n is an integer value.)  

`Note: do not use ** and pow built function of python for this purpose`

In [10]:
def power(a, n):
    result = 1.0
    for _ in range(abs(n)):
        result *= a
    if n < 0:
        return 1 / result
    return result

In [11]:
a = float(input("Enter the base (floating-point number): "))
n = int(input("Enter the exponent (integer): "))

print(f"{a} raised to the power {n} is ({a}^{n}): {power(a, n)}")

Enter the base (floating-point number):  2.0
Enter the exponent (integer):  2

2.0 raised to the power 2 is (2.0^2): 4.0

# 7. Write a function to generate Fibonacci numbers up to n terms.

In [12]:
def fibo(num):
    a = 0
    b = 1
    print(f"The Fibonacci numbers up to {num} are......")
    print(a , b , end=" ")
    i = 0
    while i < num:
        c = a+b
        a = b
        b = c
        i+=1
        print(c , end=" ")
    return

In [13]:
fibo(7)

The Fibonacci numbers up to 7 are......
0 1 1 2 3 5 8 13 21

# 8. Write a function that takes hours and returns days/hours (e.g., 27 → 1 day(s) and 3 hour(s)).

In [14]:
def days_hour(hr):
    day = 0
    hour = 0
    if hr%24 == 0:
        day = hr / 24
    else:
        day = hr // 24
        hour = hr % 24

    return day , hour

In [15]:
hr = int(input("Enter Hours..."))

day , hour = days_hour(hr)

print(f"In {hr} Hour(s). There are {day} Day(s) and {hour} Hour(s)")

Enter Hours... 60

In 60 Hour(s). There are 2 Day(s) and 12 Hour(s)

# 9. Write a function that calculates compound interest given principal, rate, time.

- principal: Initial amount (float/int)
- rate: Annual interest rate in percent (float)
- n: Compounding frequency per year (int)
- time: Number of years (float)

**Compound Interest Formula:**

$$
A = P \left(1 + \frac{R}{100N} \right)^{NT}
$$

Where:

* **A** = Final amount (Principal + Interest)
* **P** = Principal amount
* **R** = Annual interest rate (in percentage)
* **N** = Number of times interest is compounded per year
* **T** = Time (in years)

$$
\text{Compound Interest (CI)} = A - P
$$

In [16]:
def compound_interest(principal, rate, n, time):
    r = rate / 100  # Convert percent to decimal
    amount = principal *( (1 + r / n) ** (n * time))
    ci = amount - principal
    return amount, ci

In [17]:
P = float(input("Enter principal amount: "))
R = float(input("Enter annual interest rate (in %): "))
N = int(input("Enter number of times interest compounded per year: "))
T = float(input("Enter time (in years): "))

final_amount, ci = compound_interest(P, R, N, T)
print(f"Final amount after {T} years: {final_amount:.2f}")
print(f"Compound interest earned: {ci:.2f}")

Enter principal amount:  10000
Enter annual interest rate (in %):  5
Enter number of times interest compounded per year:  4
Enter time (in years):  2

Final amount after 2.0 years: 11044.86
Compound interest earned: 1044.86

# 10. Write a function to flatten a nested list.

In [18]:
def flatten_list(lst):
    flat = []
    for item in lst:
        if isinstance(item, list):
            flat.extend(flatten_list(item))  # recursive call
        else:
            flat.append(item)
    return flat

In [19]:
lst = [1,2,[3,4,[5,6,7],8,9],10]

flatten_list(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 11. Write a function to convert Celsius to Fahrenheit and vice versa.

In [20]:
def C_to_F(celsius):
    # Celsius to Fahrenheit
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

In [21]:
def F_to_c(fahrenheit):
    # Fahrenheit to Celsius
    celsius = (fahrenheit -32 ) * 5/9
    return celsius

In [22]:
celsius = float(input("Enter Temperature in celsius ...."))
fahrenheit = float(input("Enter Temperature in celsius ...."))


x = C_to_F(celsius)
print(f"{celsius} celsius ---> {x} fahrenheit ...")
y = F_to_c(fahrenheit)
print(f"{fahrenheit} fahrenheit ---> {y} celsius ...")

Enter Temperature in celsius .... 38
Enter Temperature in celsius .... 95

38.0 celsius ---> 100.4 fahrenheit ...
95.0 fahrenheit ---> 35.0 celsius ...

# 12.  Write a function to check if a given time (HH:MM) is valid.

In [23]:
def time(hr, min):
    if hr in range(25):
        if min in range(61):
            print(f"{hr}:{min} is a Valid time...")
        else:
            print(f"{min} is Not a valid Minute..")
    else:
        print(f"{hr} is Not a Valid Hour...")

In [24]:
time(25,78)

25 is Not a Valid Hour...