# 01. Python Program to Check Palindrome Number

In [1]:
num = int(input("Enter a Number :- "))

temp = num
rev = 0
while num > 0:
    mod = num % 10
    rev = rev * 10 + mod
    num = num // 10
if temp == rev:
    print("The number is a palindrome!")
else:
    print("The number isn't a palindrome!")

Enter a Number :-  12321

The number is a palindrome!

# 02. Python Program to Print all multiples of 3 and 5 in an Interval

In [2]:
start = int(input("Enter the start of the interval: "))
end = int(input("Enter the end of the interval: "))

print(f"Multiples of 3 and 5 between {start} and {end} are:")

for num in range(start, end + 1):
    if num % 3 == 0 and num % 5 == 0:
        print(num, end=' ')

Enter the start of the interval:  10
Enter the end of the interval:  100

Multiples of 3 and 5 between 10 and 100 are:
15 30 45 60 75 90

# 03. Python Program to Find the Factorial of a Number

In [3]:
num = int(input("Enter a Number :- "))
fact = 1
i = 1
while i <= num:
    fact *= i
    i += 1
print(f"The Factorial of {num} is '{fact}'.")

Enter a Number :-  5

The Factorial of 5 is '120'.

# 04. Python Program to Print the Fibonacci sequence

In [4]:
num = int(input("Enter a Number:- "))

i=0
a=0
b=1
print(f"Fibonacci sequence is ......")
print (f" {a} {b}",end =" ")
while i <num:
    c=a+b
    a=b
    b=c
    i+=1
    print(c, end=" ")

Enter a Number:-  5

Fibonacci sequence is ......
 0 1 1 2 3 5 8

# 05. Python Program to Check Armstrong Number

In [5]:
num = int(input("Enter a Number :- "))
temp = num
arm = 0
i = 0
while num:
    mod = num % 10
    arm= arm + mod**3
    num//=10
    i+=1

if arm == temp:
    print(f"The Number {temp} is Armstrong.")
else:
    print(f"The Number {temp} is not Armstrong.")

Enter a Number :-  153

The Number 153 is Armstrong.

# 06. Count how many vowels are in a string

In [6]:
str = input("Enter any String :- ").strip().lower()

vowel = ['a' , 'e' , 'i' , 'o' , 'u']

count = 1
for ch in str:
    if ch in vowel:
        count += 1
else:
     print(f"There are {count} number of vowels present in the {str}.")

Enter any String :-  python is wow

There are 4 number of vowels present in the python is wow.

# 07. Create a list of squares for numbers 1-20.

In [7]:
lst = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

sq_lst = []
x = 0
while x < len(lst):
    sq_lst.append(lst[x]**2)
    x += 1
else:
    print(sq_lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

# 08. Find the largest number inâ€¯[4, 9, 2, 6,8,9,23,43,77,1,2,4] without using max() function.

In [8]:
nums = [4, 9, 2, 6, 8, 9, 23, 43, 77, 1, 2, 4]

max_ = 0
# i = 0
while i < len(nums):
# for i in range(len(nums)):
    temp = nums[i]
    i += 1
    if temp > max_:
        max_ = temp
else:
    print(f"The Maximam Number is '{max_}'.")

The Maximam Number is '77'.

# 09. Reverse "hello" to get "olleh" with a loop.

In [9]:
str = "hello"
new_str = ""
x = 1
while x <= len(str):
    new_str += str[-x]
    x += 1
print(f"The Reversed String is \"{new_str}\"")

The Reversed String is "olleh"

# 10. Calculate the product of digits of a given number.

In [10]:
num = int(input("Enter a Number:- "))
temp = num
product = 1
while num:
    mod = num%10
    product *= mod
    num//=10
else:
    print(f"The product of {temp} is {product}")

Enter a Number:-  123

The product of 123 is 6

# 11. Find the average of numbers from 1 to n.

In [11]:
n = int(input("Enter the Range :- "))
add = 0
x = 1
while x <= n:
    add += x
    x += 1
print(f"The Addition of All numbers are {add} and the Average is {add/n}")

Enter the Range :-  15

The Addition of All numbers are 120 and the Average is 8.0

# 12. Print the multiplication table of n, but skip the 5th multiple.

In [12]:
num = int(input("Enter a Number:- "))
i = 1
print(f"The Multiplication Table is.....")
while i <= 10:
    # print(f"{num} x {i} = {num*i}")

    if not (i==5):
         print(f"|{num} x {i:^3} = {num*i:^7}|")
    else:
        i+=1
        continue
    i+=1

Enter a Number:-  2

The Multiplication Table is.....
|2 x  1  =    2   |
|2 x  2  =    4   |
|2 x  3  =    6   |
|2 x  4  =    8   |
|2 x  6  =   12   |
|2 x  7  =   14   |
|2 x  8  =   16   |
|2 x  9  =   18   |
|2 x 10  =   20   |

# 13. Print numbers from 1 to 100, but: 

- Replace multiples of 3 with "Fizz" 
- Multiples of 5 with "Buzz" 
- Multiples of both with "FizzBuzz"

In [13]:
n = 1
lst = []
while n <= 100:
    print(f"{n}" , end=" ")
    lst.append(n)
    n+=1

# print(*range(1,101))

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [14]:
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [15]:
new_lst = lst.copy()

- Replace multiples of 3 with "Fizz"

In [16]:
i = 0 
while i < len(lst):
    if new_lst[i]%3==0:
        new_lst[i] = "Fizz"
    i+=1

else:
    print(new_lst)

[1, 2, 'Fizz', 4, 5, 'Fizz', 7, 8, 'Fizz', 10, 11, 'Fizz', 13, 14, 'Fizz', 16, 17, 'Fizz', 19, 20, 'Fizz', 22, 23, 'Fizz', 25, 26, 'Fizz', 28, 29, 'Fizz', 31, 32, 'Fizz', 34, 35, 'Fizz', 37, 38, 'Fizz', 40, 41, 'Fizz', 43, 44, 'Fizz', 46, 47, 'Fizz', 49, 50, 'Fizz', 52, 53, 'Fizz', 55, 56, 'Fizz', 58, 59, 'Fizz', 61, 62, 'Fizz', 64, 65, 'Fizz', 67, 68, 'Fizz', 70, 71, 'Fizz', 73, 74, 'Fizz', 76, 77, 'Fizz', 79, 80, 'Fizz', 82, 83, 'Fizz', 85, 86, 'Fizz', 88, 89, 'Fizz', 91, 92, 'Fizz', 94, 95, 'Fizz', 97, 98, 'Fizz', 100]

- Multiples of 5 with "Buzz"

In [17]:
new_lst = lst.copy()

In [18]:
i = 0 
while i < len(lst):
    if new_lst[i]%5==0:
        new_lst[i] = "Bizz"
    i+=1

else:
    print(new_lst)

[1, 2, 3, 4, 'Bizz', 6, 7, 8, 9, 'Bizz', 11, 12, 13, 14, 'Bizz', 16, 17, 18, 19, 'Bizz', 21, 22, 23, 24, 'Bizz', 26, 27, 28, 29, 'Bizz', 31, 32, 33, 34, 'Bizz', 36, 37, 38, 39, 'Bizz', 41, 42, 43, 44, 'Bizz', 46, 47, 48, 49, 'Bizz', 51, 52, 53, 54, 'Bizz', 56, 57, 58, 59, 'Bizz', 61, 62, 63, 64, 'Bizz', 66, 67, 68, 69, 'Bizz', 71, 72, 73, 74, 'Bizz', 76, 77, 78, 79, 'Bizz', 81, 82, 83, 84, 'Bizz', 86, 87, 88, 89, 'Bizz', 91, 92, 93, 94, 'Bizz', 96, 97, 98, 99, 'Bizz']

- Multiples of both with "FizzBuzz"

In [19]:
new_lst = lst.copy()

In [20]:
i = 0 
while i < len(lst):
    if new_lst[i]%3==0 and new_lst[i] % 5 == 0:
        new_lst[i] = "FizzBizz"
    i+=1

else:
    print(new_lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 'FizzBizz', 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 'FizzBizz', 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 'FizzBizz', 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 'FizzBizz', 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 'FizzBizz', 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 'FizzBizz', 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

# 14. Convert a string to title case (first letter of each word capital) using loop.

In [21]:
str = input("Enter a String:- ").strip()

lst = str.split()
new_lst = []
# print(lst)
i = 0
while i < len(lst):
    s = (lst[i]).title()
    new_lst.append(s)
    i+=1
# print(new_lst)
new_str = " ".join(new_lst)

print(f"\nYour Old String is:-\"{str}\"\n")
print(f"And Your new String is:-\"{new_str}\"")

Enter a String:-  with great power comes great responsibility

Your Old String is:-"with great power comes great responsibility"

And Your new String is:-"With Great Power Comes Great Responsibility"

In [22]:
print(lst)
print(new_lst)

['with', 'great', 'power', 'comes', 'great', 'responsibility']
['With', 'Great', 'Power', 'Comes', 'Great', 'Responsibility']

# 15. Accept a string and print characters at even indices.

In [23]:
str = input("Enter an Random String:- ").strip()
new_str = ""
i = 0
while i < len(str):
    if i % 2 == 0 :
       new_str += str[i]
    else:
        i+=1
        continue
    i+=1

print(new_str)

Enter an Random String:-  with great power comes great responsibility

wt ra oe oe ra epniiiy