## Guess Game

## Any doubt ?

# For Loop

    for loop is used to iterate each item from collection type object [str, list, tuple, dict, set, frozenset]

In [1]:
uses = [
    "scripting", "web development", "desktop/mobile application",
    "data science", "ML", "DL", "Gen/AI", 
    "automation testing", "hacking"
]

In [6]:
# we can iterate a list using while
i = 0
while i < len(uses):
    print(f"Pyhton can be used as {uses[i]} language.")
    i += 1

Pyhton can be used as scripting language.
Pyhton can be used as web development language.
Pyhton can be used as desktop/mobile application language.
Pyhton can be used as data science language.
Pyhton can be used as ML language.
Pyhton can be used as DL language.
Pyhton can be used as Gen/AI language.
Pyhton can be used as automation testing language.
Pyhton can be used as hacking language.

In [10]:
t = ('hello', 'hi', 'bye')

i = 0 # initialize loop variable
while i < len(t): # loop condition 
    print(t[i]) # body
    i += 1 # increment / decrement loop variable

hello
hi
bye

In [8]:
s = "hello world!"

i = 0
while i < len(s):
    print(s[i], end=" ")
    i += 1

h e l l o   w o r l d !

    dict.get(key) -> value
    dict[key] -> value

In [11]:
s = { 1, 2, 3, 'hi', 'hello' }
# unordered data types 
tp = list(s)
i = 0
while i<len(tp):
    print(tp[i])
    i += 1

1
2
3
hello
hi

In [12]:
d = {
    'name': 'sachin',
    'class': 'cs-A',
    'course': 'b.tech',
    'roll no': 1234
}

In [13]:
print(d)

{'name': 'sachin', 'class': 'cs-A', 'course': 'b.tech', 'roll no': 1234}

In [18]:
def iterate(seq):
    """
        will print each item from given seq
    """
    i = 0
    while i < len(seq):
        print(seq[i])
        i += 1

In [22]:
keys = list(d.keys())

i = 0
while i < len(keys):
    key = keys[i]
    print(f"|{key:>20} = {d[key]:<20}|")
    i += 1

|                name = sachin              |
|               class = cs-A                |
|              course = b.tech              |
|             roll no = 1234                |

In [17]:
keys[0]

'name'

In [19]:
iterate(keys)

name
class
course
roll no

In [20]:
iterate('hello world')

h
e
l
l
o

w
o
r
l
d

In [21]:
iterate([1, 2, 3, 4])

1
2
3
4

## For is used for iterations

    for item in collection:
        body

In [23]:
s = "hello world!"
for ch in s: # "hello world!", ch = 'e'
    print(ch, end=" ") # h e ...

h e l l o   w o r l d !

count no of vowels in a string ?

In [24]:
vow = [ 'a', 'e', 'i', 'o', 'u']
count = 0 
string = input("Enter string: ").strip().lower()
# string = "python is awesome"

for ch in string:
    if ch in vow:
        count += 1
else:
    # if loop does not exit with break 
    print(f"{string} contains {count} vowels.")

Enter string:  python is awesome

python is awesome contains 6 vowels.

In [25]:
st = "hello"
# "h", "e", "l", "l", "o"
#  0    1    2    3    4
for x in st: # stop iteration 
    # x = "o"
    print(x, end=" ")

# h e l l o

h e l l o

In [26]:
lang = [ "java", "c", "c++", "ruby", "perl" ]
#           0     1      2      3       4

for var in lang: # var = "perl"
    print(var.upper()) # JAVA C C++ RUBY PERL

print("this is called iteration")

JAVA
C
C++
RUBY
PERL
this is called iteration

In [27]:
lang = [ "java", "c", "c++", "ruby", "perl" ]
#           0     1      2      3       4
for var in lang: # var = "perl"
    print(var.upper(), end=" ") # JAVA C C++ RUBY PERL

print("\nthis is called iteration")

JAVA C C++ RUBY PERL
this is called iteration

    item  in  seq ?

In [28]:
lang

['java', 'c', 'c++', 'ruby', 'perl']

In [30]:
lang = ['java', 'c', 'c++', 'ruby', 'perl']

key = input("enter language: ").strip().lower()
for item in lang:
    if item == key:
        print(f"{key} exists in lang")
        break
else:
    print(f"{key} does not exists in lang")

enter language:  c++

c++ exists in lang

In [31]:
lang = ['java', 'c', 'c++', 'ruby', 'perl']

key = input("enter language: ").strip().lower()
for item in lang:
    if item == key:
        print(f"{key} exists in lang")
        break
else:
    print(f"{key} does not exists in lang")

enter language:  php

php does not exists in lang

In [32]:
def is_in(seq, key):
    flag = False
    for item in seq:
        if item == key:
            flag = True
            break
    return flag

In [34]:
is_in(lang, 'java')

True

In [35]:
is_in(lang, 'c++')

True

In [36]:
is_in(lang, 'php')

False

In [37]:
for ch in 'hello world':
    print(ch)

h
e
l
l
o

w
o
r
l
d

In [38]:
for x in [1, 2, 6, 8]:
    print(x)

1
2
6
8

In [39]:
sum_ = 0
nums = [1, 2, 3, 4, 5, 6,7, 8, 9, 10]

for n in nums:
    sum_ = sum_ + n

print(sum_)

55

In [40]:
for t in ('java', 'c', 'c++'):
    print(t)

java
c
c++

In [43]:
col = {'hi', 'hello', 1, 2, 3, 4, 6.7}

for v in col:
    print(v)

1
2
3
hi
hello
4
6.7

In [44]:
# dict 

data = {
    'name': 'python',
    'father': 'guido van rossum',
    'build year': 1994,
    'type': 'programming language'
}
# default we iteratre over keys in dictionary

In [48]:
for key in data:
    print(key, '\t\t\t\t', data[key]) # ?

name 				 python
father 				 guido van rossum
build year 				 1994
type 				 programming language

In [49]:
data

{'name': 'python',
 'father': 'guido van rossum',
 'build year': 1994,
 'type': 'programming language'}

In [50]:
for key in data.keys():
    print(key)

name
father
build year
type

In [51]:
for value in data.values():
    print(value)

python
guido van rossum
1994
programming language

In [52]:
d

{'name': 'sachin', 'class': 'cs-A', 'course': 'b.tech', 'roll no': 1234}

In [55]:
x, y = ('name', 'python') # tuple unpacking 
print(x, y)

name python

In [54]:
for item in data.items(): #(key, value)
    print(item)

('name', 'python')
('father', 'guido van rossum')
('build year', 1994)
('type', 'programming language')

In [64]:
sum([   67, 89, 98])

254

In [65]:
data = [
    ['sachin', 67, 54, 78],
    ['rajat', 67, 87, 98],
    ['nidhi', 56, 76, 56],
    ['kushal', 66, 77, 88],
    ['yadvendra', 70, 87, 67],
    ['simran', 45, 67, 89],
    ['ravi', 56, 78, 65],
    ['shruti', 67, 89, 98]
]

max_ = 0
topper = None

for item in data:
    # item = ['shruti', 67, 89, 98]
    marks = sum(item[-3:]) # marks = 254
    if marks > max_:
        max_ = marks # max_ = 254
        topper = item[0] # topper = 'shruti'

print(f"{topper} is the topper with marks {max_}")

shruti is the topper with marks 254

In [68]:
info = [
    ('ram', 160),
    ('shyam', 170),
    ('hari', 150),
    ('ali', 171),
    ('jhon', 180),
    ('alice', 140)
]

tallest = None
max_height = 0

for name, height in info:
    if height > max_height:
        max_height = height
        tallest = name

print(f"{tallest} is tallest with height {max_height} cm ")

jhon is tallest with height 180 cm

In [70]:
info = (
    ('python', ('guido van rossum', 1994) ),
    ('c++', ('bjarne stroupstrup', 1979) ),
    ('java', ('james gosling', 1991) ),
    ('c', ('dennis ritchie', 1970 ) )
)

# Python was developed by Guido Van Rossum and publically launched in year 1994.
# C++ was developed by Bjarne Stroupstrup and publically launched in year 1979.

In [75]:
temp = "{:>10} was developed by {:<20} and publically launched in year {}."

for lang, (author, year) in info:
    print(temp.format(lang, author, year))

    python was developed by guido van rossum     and publically launched in year 1994.
       c++ was developed by bjarne stroupstrup   and publically launched in year 1979.
      java was developed by james gosling        and publically launched in year 1991.
         c was developed by dennis ritchie       and publically launched in year 1970.

In [76]:
d

{'name': 'sachin', 'class': 'cs-A', 'course': 'b.tech', 'roll no': 1234}

In [78]:
for k, v in d.items():
    print(f"{k:>10} = {v}")

      name = sachin
     class = cs-A
    course = b.tech
   roll no = 1234

In [80]:
data = dict(info)

In [81]:
data

{'python': ('guido van rossum', 1994),
 'c++': ('bjarne stroupstrup', 1979),
 'java': ('james gosling', 1991),
 'c': ('dennis ritchie', 1970)}

In [82]:
temp = "{:>10} was developed by {:<20} and publically launched in year {}."

for lang, (author, year) in data.items():
    print(temp.format(lang, author, year))

    python was developed by guido van rossum     and publically launched in year 1994.
       c++ was developed by bjarne stroupstrup   and publically launched in year 1979.
      java was developed by james gosling        and publically launched in year 1991.
         c was developed by dennis ritchie       and publically launched in year 1970.

# for
        str, list, tuple, set, fronzenset, dict

### List comprehension

In [84]:
nums = [ 1, 2, 3, 4, 5]

sq_nums = []
for num in nums:
    sq_nums.append(num**2)

print(nums)
print(sq_nums)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [86]:
print("hello") if 0 else print("bye")

bye

In [90]:
nums = [ 1, 2, 3, 4, 5]

sq_nums = []
for num in nums:
    sq_nums.append(num**2)

print(nums)
print(sq_nums)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [91]:
nums = [1, 2, 3, 4, 5]
sq_nums = [ num**2 for num in nums ]
# List comprehension
sq_nums

[1, 4, 9, 16, 25]

In [100]:
for _ in range(5): # range(5) -> 0, 1, 2, 3, 4, 5
    print(f'{_} hello world!')

0 hello world!
1 hello world!
2 hello world!
3 hello world!
4 hello world!

In [92]:
import random

In [101]:
nums = [ random.randint(1, 20) for _ in range(10) ]
nums

[16, 15, 17, 10, 7, 2, 7, 2, 11, 20]

In [105]:
eves = [ x for x in nums if x % 2 == 0]
eves

[16, 10, 2, 2, 20]

In [103]:
even_num = []
for x in nums:
    if x%2==0:
        even_num.append(x)
even_num

[16, 10, 2, 2, 20]

zip, enumerate

functions in python

In [106]:
for var in range(1, 11, 2): # [1, 3, 5, 7, 9]
    print(var**2)

1
9
25
49
81

In [107]:
for col in range(1, 11): # [1, 2, 3, ... 10]
    print("*"*col)

*
**
***
****
*****
******
*******
********
*********
**********

In [108]:
for col in range(1, 11): # [1, 2, 3, ... 10]
    print( " "*(11-col), "*"*col )

           *
          **
         ***
        ****
       *****
      ******
     *******
    ********
   *********
  **********