# Strings

    Collection of UTF-8 characterset.

    name = 'Amit'
    country = "India"

## Escapse sequence -->

"\n" - New Line

"\t" - tab space (4 space)

"\r" - carrige return

"\'" - insert single quote in string

"\"" - insert double quote in string

In [9]:
print("\U0001F60A")

ðŸ˜Š

In [4]:
#print("He didn't say that \"She is Beautifual.\"")

#str = "He didn't say that \"She is Beautifual.\""
str = 'He didn\'t say that \"She is Beautifual.\"'
print(str)

He didn't say that "She is Beautifual."

In [5]:
str = "Escapse Sequence \\n represents new line."
print(str)

Escapse Sequence \n represents new line.

In [8]:
path = "c:\\onedrive\\desktop"
print(path)

## case related function

    str.capitalize - first character capital rest small case letters.
    str.upper - all letter in upper case.
    str.lower - all letter in lower case.
    str.swapcase - lower case converts in upper and upper case converts into lower 
    str.title - first letter of each word become caitalmrest remains in lower case.

In [13]:
s = "aMit SolErA"

print("Orignal -", s)
print("Capatilize -", s.capitalize())
print("lower -" , s.lower())
print("upper -" , s.upper())
print("swapcase -", s.swapcase())
print("title -",s.title())

Orignal - aMit SolErA
Capatilize - Amit solera
lower - amit solera
upper - AMIT SOLERA
swapcase - AmIT sOLeRa
title - Amit Solera

## Table 

    name            country                age
    
    jhon            UK                      45
    
    amitsolera      IND                     17

In [14]:
print("Name country age")
print("jhon UK 45")
print("amitsolera IND 17")

Name country age
jhon UK 45
amitsolera IND 17

|<---50--->|<---50--->|<---50--->|

|jhon      | left justify
|   jhon   | center justify
|      jhon|

In [ ]:
s = "Jhon"
w = 50
print(repr(s))
print(repr(s.ljust(50)))
print(repr(s.center()))